= form_for(@gallery) do |f|
  - if @gallery.errors.any?
    #error_explanation
      %h2= pluralize(@gallery.errors.count, "error") + ' prohibited this gallery from being saved:'
      %ul
        - @gallery.errors.full_messages.each do |msg|
          %li= msg



  .group
    .col.span_2_of_3
      %h2 Content
      .field
        = f.label :title
        %br/
        = f.text_field :title
        %br
        = f.label :sub_title
        %br/
        = f.text_field :sub_title
      .field
        = f.label :description
        %br/
        = f.text_area :description, :rows => 12


    .col.span_1_of_3
      .sidebar
        %h2 Position
        %fieldset
          .infobox#public_gallery
            %h4= 'Public'
            %p
              = 'If checked, the contents will be shown in websites pre-defined Gallery Tag.'
            %p
              = 'Note: Individual photos can also be hidden. If the photo is hidden, then it will not be displayed even if the Gallery is public.'
          %span.infomarker
            = f.check_box :public
            = f.label :public
        %fieldset
          = f.label :position
          %br/
          = f.text_field :position, :size => 10
        %h2 Language
        %fieldset
          = f.label :locale
          = f.select :locale, options_for_select(I18n.available_locales.collect{|l| [l, l]}, @gallery.locale)

  .mid
    .actions
      = f.submit
