= form_for(@gallery) do |f|
  - if @gallery.errors.any?
    #error_explanation
      %h2= pluralize(@gallery.errors.count, "error") + ' prohibited this gallery from being saved:'
      %ul
        - @gallery.errors.full_messages.each do |msg|
          %li= msg



  .row
    .col-md-8
      .tile
        .tile-title
          %h5 Content
        .tile-body
          = labeled_textfield(f, :title)
          = labeled_textfield(f, :sub_title)
          .input-group
            .input-group-prepend
              = f.label :description, :class => 'input-group-text'
            = f.text_area :description, :rows => 6, :class => 'form-control mt-2'
          = labeled_selectbox(f, :locale, options_for_select(I18n.available_locales.collect{|l| [l, l]}, @gallery.locale))


    .col-md-4
      .tile
        .tile-title
          %h5 Position
        .tile-body
          .infobox#public_gallery
            %h4= 'Public'
            %p
              = 'If checked, the contents will be shown in websites pre-defined Gallery Tag.'
            %p
              = 'Note: Individual photos can also be hidden. If the photo is hidden, then it will not be displayed even if the Gallery is public.'

          = labeled_checkbox(f, :public, nil, :public_gallery)
          = labeled_textfield(f, :position)

  .row
    .col-md-12
      .tile
        .tile-body
          = f.submit 'Save', :class => 'btn btn-danger btn-block'
