.button= link_to 'Cancel', '#', :onclick => "$('#dialog').hide(); return false"
%h2= 'New Subscriber Category'
= form_for @subscriber_category do |f|
  .field
    = f.text_field :name
    = f.label :name
  .actions
    = f.submit 'Create category'

