.modal-header
  %h5= 'New Subscriber Category'
  = modal_close
.modal-body
  .table-responsive{:style => 'max-height: 200px;'}
    %table.table.table-bordered.table-hover
      %thead
        %tr
          %th Name
          %th Subscribers
      %tbody
        - SemiStatic::SubscriberCategory.all.each do |cat|
          %tr
            %td= cat.name
            %td= cat.subscribers.size

  = form_for @subscriber_category do |f|
    .stacked-input-group
      = f.label :name, 'New category name', :class => 'input-group-text'
      = f.text_field :name, :class => 'form-control'
    .row
      .col-md-12.mt-3
        = f.submit 'Create category', :class => 'btn btn-danger btn-block'
  
  
