-# TODO: Major refactor required
-# The main diff for this theme is that the h1/header span the entry
-# even if an image is present
- linked = linked.nil? ? true : linked
- unless !e.image_disable && e.img.present?
  = alt_img_as_icon(e)
= entry_title(e, linked)
- unless e.youtube_id_str.blank?
  = youtube_video(e.youtube_id_str)
- if !e.image_disable && e.img.present?
  .col.span_1_of_2.floater
    = render :partial => 'semi_static/entries/image', :locals => {:e => e, :style => style}
  .col.span_1_of_2.wrapping
    .html
      = icon(e.tag) if e.youtube_id_str.blank?
      - if @summaries && !e.merge_with_previous
        = entry_summary(e, e.summary_length)
      - else
        = entry_body(e)
        = photo_main(e, @group_size || 2)
        = semantic_product(e)
- else
  .html
    = icon(e.tag) if e.youtube_id_str.blank?
    - if @summaries && !e.merge_with_previous
      = entry_summary(e, e.summary_length)
    - else
      = entry_body(e)
      = photo_main(e, @group_size || 2)
      = semantic_product(e)
