-#
-# If there is no @result then we do not have a place to store
-# the public sitemap on the website, so just create a download
-#

.modal-header
  %h5= 'Generate Sitemap'
  = modal_close
.modal-body
  - if @result.present?
    %p
      = "Your configuration has set your sitemap locations to"
    - SemiStatic::Engine.config.localeDomains.each do |k, v|
      %p
        = link_to construct_url(SemiStatic::Engine.config.sitemap, k), :class => 'btn btn-primary'  do
          = construct_url(SemiStatic::Engine.config.sitemap, k)
    %p
      = 'Select a sitemap to continue'
  - else
    %p
      = 'Select a sitemap to generate and download'
  
  - SemiStatic::Engine.config.localeDomains.each do |k, v|
    - if @result.present?
      = link_to system_path(:cmd => {:generate_sitemap => :all}, :locale => k), :onclick => '$(".close").click(); return false;', :method => :put, :remote => true, :class => 'btn btn-primary btn-space' do
        = v
    - else
      = link_to system_path(:format => :xml, :cmd => {:generate_sitemap => :all}, :locale => k), :onclick => '$(".close").click(); return false;', :method => :put, :class => 'btn btn-primary btn-space' do
        = v
    
