.modal-header
  %h5= 'Generate Sitemap'
  = modal_close
.modal-body
  %h5 Sitemaps were generated
  %h5 Google responded:
  %p
    - if @google.kind_of?(String)
      = @google
    - else
      - @google.xpath("//script").remove
      = @google.xpath('/html/body').text
  %h5 Bing responded:
  %p
    - if @bing.kind_of?(String)
      = @bing
    - else
      - @bing.xpath("//script").remove
      = @bing.xpath('/html/body').text
  
  %h5= "Your can view your new sitemap here:"
  %p
    = link_to construct_url(SemiStatic::Engine.config.sitemap, @locale), construct_url(SemiStatic::Engine.config.sitemap, @locale)
