- if SemiStatic::Engine.config.twitterID.try('present?') || SemiStatic::Engine.config.facebookID.try('present?') || SemiStatic::Engine.config.youtubeChannel.try('present?') || SemiStatic::Engine.config.xingID.try('present?') || SemiStatic::Engine.config.has?(:linkedinID)
  .social
    .social-inner
      -unless SemiStatic::Engine.config.twitterID.nil?
        = link_to "https://twitter.com/#{SemiStatic::Engine.config.twitterID}" do
          #twitter
            Twitter
      -unless SemiStatic::Engine.config.facebookID.nil?
        = link_to "https://www.facebook.com/#{SemiStatic::Engine.config.facebookID}" do
          #facebook
            Facebook
      -unless SemiStatic::Engine.config.youtubeChannel.nil?
        = link_to "https://www.youtube.com/#{SemiStatic::Engine.config.youtubeChannel}" do
          #youtube
            YouTube
      -unless SemiStatic::Engine.config.xingID.nil?
        = link_to "https://www.xing.com/#{SemiStatic::Engine.config.xingID}" do
          #xing
            Xing
      -unless SemiStatic::Engine.config.linkedinID.nil?
        = link_to "http://www.linkedin.com/company/#{SemiStatic::Engine.config.linkedinID}" do
          #linkedin
            LinkedIn
