.section
  = home_custom
  .col.span_2_of_3
    - SemiStatic::Entry.unscoped.order(:position).home.locale(I18n.locale).unmerged.each do |e|
      .entry.panel{:class => e.style_class, :style => "background-color:#{e.background_colour}; color: #{e.colour}"}
        = render :partial => 'semi_static/entries/entry', :locals => {:e => e, :style => :summary}
    = home_custom_after
  .col.span_1_of_3
    %aside
      = render :partial => 'semi_static/site/search'
      = render :partial => 'semi_static/site/social'
      = render :partial => SemiStatic::Engine.config.social_partial if SemiStatic::Engine.config.social_partial.present?
      = render :partial => 'semi_static/tags/news'
      = render :partial => 'semi_static/photos/side_bar'
