- content_for :header_css do
  :plain
    iframe{width: 100%;}

= render :partial => 'semi_static/shared/custom_banner', :locals => {:banner_name => ['Imprint', 'Default']}
.mid
  - if SemiStatic::Engine.config.imprint_partial.try('present?')
    = render :partial => SemiStatic::Engine.config.imprint_partial
  - elsif SemiStatic::Engine.config.contact_partial.try('present?')
    = render :partial => SemiStatic::Engine.config.contact_partial
  - else
    .imprint
      %h1= SemiStatic::Engine.config.copyright_owner
      %p
        = t('Email') + ':'
        = mail_to SemiStatic::Engine.config.info_email, SemiStatic::Engine.config.info_email
  .imprint
    %h2 Credits
    %p
      = link_to 'Website', semi_static_path_for_sign_in, :rel => 'nofollow'
      = 'by Quantum Websites - a '
      = link_to 'Business Landing', 'http://business-landing.com'
      = 'project.'
