.mid
  - if SemiStatic::Engine.config.imprint_partial.try('present?')
    = render :partial => SemiStatic::Engine.config.imprint_partial
  - elsif SemiStatic::Engine.config.contact_partial.try('present?')
    = render :partial => SemiStatic::Engine.config.contact_partial
  - else
    %p
      = SemiStatic::Engine.config.copyright_owner
      %br/
    %p
      = t('Email') + ':'
      = mail_to SemiStatic::Engine.config.info_email, SemiStatic::Engine.config.info_email
  %h2 Credits
  %p
    = link_to 'Website', main_app.new_admin_session_path
    = 'by'
    = link_to 'Business Landing Ltd.', 'http://business-landing.com'
