= form_for @squeeze do |f|
  .group
    .col.span_2_of_3
      - if @squeeze.errors.any?
        #error_explanation
          %h2= "#{pluralize(@squeeze.errors.count, "error")} prohibited this event from being saved:"
          %ul
            - @squeeze.errors.full_messages.each do |msg|
              %li= msg
  .row
    .col-md-6
      .tile
        .tile-title
          %h5
            %span.app-menu__icon.fa.fa-squeeze.invert
            Main Content
          = labeled_textfield f, :name
          = labeled_textfield f, :title
          .input-group
            .input-group-prepend
              = f.label :teaser, :class => 'input-group-text'
            = f.text_area :teaser, :rows => 4, :class => 'form-control mt-2'
          .input-group
            .input-group-prepend
              = f.label :form_instructions, :class => 'input-group-text'
            = f.text_area :form_instructions, :rows => 4, :class => 'form-control mt-2'
          .input-group
            .input-group-prepend
              = f.label :agreement, :class => 'input-group-text'
            = f.text_area :agreement, :rows => 4, :class => 'form-control mt-2'

      .tile
        .tile-body
          .tile-title-w-btn
            %h5
              %span.app-menu__icon.fa.fa-attrs.invert
              Attributes

            - unless @squeeze.new_record?
              = link_to new_squeeze_page_attr_path(@squeeze), :class => 'btn btn-primary', :remote => true do
                %span.app-menu__icon.fa.fa-attrs
                %span New attribute

          .tile-body
            - if @squeeze.page_attrs.present?
              %table.table.sortable.table-bordered.table-hover
                %thead
                  %tr
                    %th='Key'
                    %th='Value'
                    %th
                %tbody
                  - @squeeze.page_attrs.each do |a|
                    %tr
                      %td= link_to a.attr_key, edit_polymorphic_path([@squeeze, a]), :remote => :true
                      %td= a.attr_value
                      %td= link_to image_tag("bin.png"), squeeze_page_attr_path(@squeeze, a), :method => :delete


    .col-md-6
      .tile
        %h5 Form Fields
        = labeled_checkbox(f, :company_field)
        = labeled_checkbox(f, :position_field)
        %br/

        %h5 E-mail
        = labeled_textfield f, :email_subject
        .input-group{:title => 'Instructions are at the top of the email before the download link'}
          .input-group-prepend
            = f.label :instructions, :class => 'input-group-text'
          = f.text_area :instructions, :rows => 4, :class => 'form-control mt-2'
        .input-group
          .input-group-prepend
            = f.label :email_footer, :class => 'input-group-text'
          = f.text_area :email_footer, :rows => 4, :class => 'form-control mt-2'
        .stacked-input-group{:title => 'Document must be PDF format'}
          = f.label :doc, 'PDF Document', :class => 'input-group-text'
          = f.file_field :doc, :class => 'form-control'


  .row
    .col-md-12
      .tile
        .tile-body
          = f.submit 'Save', :class => 'btn btn-danger btn-block'

