.squeeze-form{:id => "squeeze-form_#{@squeeze.id.to_s}"}
  - if @contact.errors.any?
    #error_explanation.errors
      %h2= "#{pluralize(@contact.errors.count, "error")} prohibited this contact from being saved:"
      %ul
        - @contact.errors.full_messages.each do |msg|
          %li= msg
  
  %h2= @squeeze.title
  = form_for @contact do |f|
    - if @reason
      = hidden_field_tag 'contact[reason]', @reason.to_s
    - elsif @contact.reason
      = hidden_field_tag 'contact[reason]', @contact.reason.to_s
    = hidden_field_tag 'contact[squeeze_id]', @contact.squeeze_id
    = hidden_field_tag 'contact[strategy]', @contact.strategy
    .section.group
      .col.span_1_of_2
        = f.text_field :name, :placeholder => t('Name')
        = f.label :name, t('Name')
      .col.span_1_of_2
        = f.text_field :surname, :placeholder => t('Surname')
        = f.label :surname, t('Surname')
    - if @squeeze.company_field
      .section.group
        .col.span_1_of_2
          = f.text_field :company, :placeholder => t('Company')
          = f.label :company, t('Company')
        .col.span_1_of_2
          = f.text_field :position, :placeholder => t('Position')
          = f.label :position, t('Position')
    .section.group
      .col.span_1_of_2
        = f.email_field :email, :placeholder => t('Email')
        = f.label :email, t('Email')
      .col.span_1_of_2.telephoneField
        = f.text_field :telephone, :placeholder => t('Telephone')
        = f.label :telephone, t('Telephone')
  
    = simple_format @squeeze.form_instructions unless @squeeze.form_instructions.blank?
    .agree
      = check_box_tag 'accept', nil, nil, {:required => true}
      = label_tag 'accept', @squeeze.agreement, :id => 'acceptLabel'
    
    - @contact.agreements.each do |agreement|
      %fieldset
        = check_box_tag :agreement_ids, agreement.id, agreement.ticked_by_default, {:name => "contact[agreement_ids][]"}.merge(agreement.required ? {:required => true} : {})
        = agreement.body.html_safe
    .actions
      = f.submit t('Send'), :id => 'squeezeSubmit'
