.button= link_to_function image_tag('cross.png'), "dialog.style.display = 'none';"

- if @contact.errors.any?
  #error_explanation.errors
    %h2= "#{pluralize(@contact.errors.count, "error")} prohibited this contact from being saved:"
    %ul
      - @contact.errors.full_messages.each do |msg|
        %li= msg

%h2= @squeeze.title
= form_for @contact do |f|
  - if @reason
    = hidden_field_tag 'contact[reason]', @reason.to_s
  = hidden_field_tag 'contact[squeeze_id]', @contact.squeeze_id
  = hidden_field_tag 'contact[strategy]', @contact.strategy
  .section.group
    .col.span_1_of_2
      = f.text_field :name, :placeholder => t('Name')
      = f.label :name, t('Name')
    .col.span_1_of_2
      = f.text_field :surname, :placeholder => t('Surname')
      = f.label :surname, t('Surname')
  .section.group
    .col.span_1_of_2
      = f.email_field :email, :placeholder => t('Email')
      = f.label :email, t('Email')
    .col.span_1_of_2
      = f.text_field :telephone, :placeholder => t('Telephone')
      = f.label :telephone, t('Telephone')

  .agree
    = check_box_tag 'accept'
    = label_tag 'accept', @squeeze.agreement, :id => 'acceptLabel'
  
  - @contact.agreements.each do |agreement|
    %fieldset
      = check_box_tag :agreement_ids, agreement.id, agreement.ticked_by_default, :name => 'contact[agreement_ids][]'
      = agreement.body
  .actions
    = f.submit t('Send'), :id => 'squeezeSubmit'

