.mid.full
  .button= link_to 'New Squeeze', new_squeeze_path
  %h1 Squeezes
  %table
    %thead
      %tr
        %th= 'ID'
        %th= 'Name'
        %th= 'Title'
        %th= image_tag('calendar.png', :title => 'Last Update')
        %th

    %tbody
      - @squeezes.each do |s|
        %tr{:id => "squeeze_id_#{s.id}"}
          %td= s.id.to_s
          %td= link_to s.name, edit_squeeze_path(s)
          %td= s.title
          %td= s.updated_at.strftime('%d/%b/%y %H:%M')
          %td= link_to image_tag('bin.png'), s, :method => :delete, :data => { :confirm => 'Are you sure?' }

