.modal-header
  - if @seo.seoable
    %h5.modal-title= ['SEO for', @seo.seoable.raw_title, "(#{@seo.seoable.locale.to_s})"].join(' ')
  - else
    %h5.modal-title= "ERROR: No Entry or Tag found for associated SEO"
  <button type="button" class="close" data-dismiss="modal" aria-label="Close"> <span aria-hidden="true">&times;</span> </button>
- if @seo.seoable
  .modal-body
    = render 'form'
  = render 'hreflangs'
