= form_for([@seo.seoable, @seo]) do |f|
  - if @seo.errors.any?
    #error_explanation
      %h2= "#{pluralize(@seo.errors.count, "error")} prohibited this SEO meta tag from being saved:"
      %ul
        - @seo.errors.full_messages.each do |msg|
          %li= msg

  = hidden_field_tag :return, @return

  .form-group
    = f.label :title, :class => 'col-form-label'
    = f.text_field :title, :class => 'form-control'
  .form-group
    = f.label :keywords, '5-10 keywords seperated by commas. If you are unsure about your keywords, it will be best to leave this blank', :class => 'col-form-label'
    = f.text_field :keywords, :class => 'form-control'
  .form-group
    = f.label :description, 'Description (max 140 characters)', :class => 'col-form-label'
    = f.text_area :description, :rows => 3, :class => 'form-control'
  .form-group
    = f.label :no_index, 'Request that search engines do not index this page', :class => 'col-form-label'
    = f.check_box :no_index, :class => 'form-control'
  %h5 Sitemap
  .row
    .col-md-6
      .form-group
        = f.label :changefreq, 'Change frequency', :class => 'col-form-label'
        %br
        = f.select :changefreq, options_for_select(SemiStatic::Seo::CHANGE_FREQ.each{|k, v| [k.to_s.humanize, v]}, @seo.changefreq), :class => 'form-control'
    .col-md-6
      .form-group
        = f.label :priority, 'Crawler Priority (0 to 10)', :class => 'col-form-label'
        = f.text_field :priority, :class => 'form-control'
  .row
    .col-md-6
      .form-group
        = f.label :include_in_sitemap, :class => 'col-form-label'
        = f.check_box :include_in_sitemap, :class => 'form-control'
    .col-md-6
      .form-group
        = 'Last update (calculated): '
        %br
        = @seo.seoable.xml_update ? @seo.seoable.xml_update.strftime('%d/%b/%y %H:%M') : 'Unset'
  
  .text-right
    = f.submit 'Save', :class => 'btn btn-primary'
    = link_to polymorphic_path([@seo.seoable, @seo]), :method => :delete, :class => 'btn btn-danger' do
      Delete


- unless @photos_without_caption.blank?
  %h1= 'Photos SEO'
  %p
    = "This Entry has #{@photos_without_caption.count.to_s} photo(s) without a caption. You can improve your SEO by adding captions."
    = "The first #{[@photos_without_caption.count, 5].min.to_s} photos:"
  - @photos_without_caption.limit(5).each  do |p|
    %ul
      %li= link_to p.title, edit_photo_path(p)
