-# TODO: Move to helper
- style ||= false
- entry = e
- last_merged_entry = e
.entry{:style => "background-color: #{e.background_colour}"}
  - loop do
    - last_merged_entry = e
    = render :partial => 'semi_static/entries/entry_contents', :locals => {:style => style, :e => e }
    = render :partial => 'semi_static/entries/document', :locals => {:e => e}  if e.doc.present? && (!@summaries && !e.truncate?)
    - break if (e = e.next_merged_entry).nil? || (@summaries && entry.truncate?)
    .section
  - if (@summaries && last_merged_entry.truncate?)
    .more= link_to t(:more), entry_link_path(entry)
  - elsif entry.facebook_share
    .button
      = link_to 'Share',  "https://www.facebook.com/sharer/sharer.php?u=#{request.url}", :class => 'fb-share'
