- unless e.youtube_id_str.blank?
  %h1= link_to e.title, e, :style => "color: #{e.header_colour};"
  = youtube_video(e.youtube_id_str)
- if e.img.present?
  .col.span_1_of_2.floater
    .img
      - if (style == :summary) || (style == :small)
        = link_to entry_path(e) do
          = image_section(e, style)
      - else
        = image_section(e, style)
  .col.span_1_of_2.wrapping
    .html
      = icon(e.tag) if e.youtube_id_str.blank?
      - if (style == :summary) || (style == :small)
        - if e.youtube_id_str.blank?
          %h1= link_to e.title, e, :style => "color: #{e.header_colour};"
        = entry_summary(e, e.summary_length)
      - else
        %h1{:style => "color: #{e.header_colour}"}= e.title
        = e.body.html_safe
- else
  .html
    = icon(e.tag) if e.youtube_id_str.blank?
    - if e.youtube_id_str.blank?
      %h1= link_to e.title, e, :style => "color: #{e.header_colour};"
    - if (style == :summary) || (style == :small)
      = entry_summary(e, e.summary_length)
    - else
      = e.body.html_safe
