- summary ||= false
.entry
  - if e.img.present?
    .col.span_1_of_2.floater
      .img
        - if summary
          = link_to image_tag(e.img_url_for_theme(:summary)), e
        - else
          = image_tag(e.img_url_for_theme)
    .col.span_1_of_2.wrapping
      .html
        = icon(e.tag)
        %h2= link_to e.title, e, :style => "color: #{e.header_colour};"
        - if summary
          = entry_summary(e, e.summary_length)
        - else
          = e.body.html_safe
  - else
    .html
      = icon(e.tag)
      %h2= link_to e.title, e, :style => "color: #{e.header_colour};"
      - if summary
        = entry_summary(e, e.summary_length)
      - else
        = e.body.html_safe

  - if summary
    .more= link_to t(:more), e
