-# TODO: Refactor, Move to helper
- suppress_merged ||= (@suppress_merged || false)
- style ||= false
- linked = @linked
- linked = ((defined?(linked)) && (linked || linked.nil?)) ? true : false
- entry = e
- last_merged_entry = e
.entry{:style => "background-color: #{e.background_colour}"}
  - loop do
    - last_merged_entry = e
    - if e.partial_inline?
      = render :partial => e.partial_path, :locals => {:style => style, :e => e }
    - else
      = render :partial => 'semi_static/entries/entry_contents', :locals => {:style => style, :e => e, :linked => linked }
    = semantic_event(e.event)
    = render :partial => 'semi_static/entries/document', :locals => {:e => e}  unless e.doc_file_size.nil? || (@summaries && (e.body.size > (e.summary_length || 0)))
    - break if (e = e.next_merged_entry).nil? || (@summaries && entry.truncate?) || suppress_merged
    - unless e.partial_inline?
      .section
  - if (@summaries && last_merged_entry.truncate?)
    .more= link_to t(:more), entry_link_path(entry)
  - else
    = social_shares(entry)
