- style ||= false
- entry = e
.entry{:style => "background-color: #{e.background_colour}"}
  - loop do
    = render :partial => 'semi_static/entries/entry_contents', :locals => {:style => style, :e => e }
    = render :partial => 'document', :locals => {:e => e}  if e.doc.present? && (style == :show)
    - break if (e = e.next_merged_entry).nil? || (style == :summary)
    .section
  - if (style == :summary) || (style == :small)
    .more= link_to t(:more), entry_path(entry)
  - elsif entry.facebook_share
    = link_to 'Share',  "https://www.facebook.com/sharer/sharer.php?u=#{request.url}", :class => 'fb-share'
