%thead
  %tr
    %th= '#'
    %th= 'Title'
    %th= 'Tag'
    %th{:title => 'Merge'} M
    %th{:title => 'Custom view'}= 'C'
    %th{:title => 'Home page'}= 'H'
    %th{:title => 'News'}= 'N'
    %th{:title => 'Position'}
      %i.app-menu__icon.fa.fa-vertical
    %th{:title => 'Side Bar'}
      %i.app-menu__icon.fa.fa-sidebar
    %th{:title => 'Banner'}
      %i.app-menu__icon.fa.fa-banner
    %th{:title => 'Admin only page'}
      %i.app-menu__icon.fa.fa-admin
    %th{:title => 'SEO'}
      %i.app-menu__icon.fa.fa-graph
    %th{:title => 'Document loaded'}
      %i.app-menu__icon.fa.fa-page
    %th{:title => 'Locale'}
      %i.app-menu__icon.fa.fa-lang
    %th{:title => 'Ticked if this entry has a product'}
      %i.app-menu__icon.fa.fa-product
    %th{:title => 'Last update'}
      %i.app-menu__icon.fa.fa-date
    %th
      %i.app-menu__icon.fa.fa-clone
    %th
      %i.app-menu__icon.fa.fa-delete

