%thead
  %tr
    %th= '#'
    %th= 'Title'
    %th= 'Tag'
    %th= 'Merge'
    %th{:title => 'Custom view'}= 'C'
    %th{:title => 'Has master?'}= 'M'
    %th{:title => 'Home page'}= 'H'
    %th{:title => 'News'}= 'N'
    %th{:title => 'Side Bar'}= 'S'
    %th{:title => 'Position'}= 'Pos.'
    %th= 'Banner'
    %th{:title => 'Admin only page'}= 'A'
    %th= 'SEO'
    -# %th= image_tag('/assets/video.png', :title => 'YouTube Video')
    -# %th= image_tag('/assets/photos.png', :title => 'Gallery or number of photos')
    %th
    %th{:title => 'Locale'}= 'L'
    %th{:title => 'Ticked if this entry has a product'}= 'P'
    %th= image_tag('/assets/calendar.png', :title => 'Last update')
    %th
    %th
