%thead
  %tr
    %th= 'Title'
    %th= 'Tag'
    %th.short= 'Merge'
    %th.short= 'Custom view'
    %th.short= 'Has master?'
    %th.short= 'Home page'
    %th.short= 'News'
    %th.short= 'Side Bar'
    %th.short= 'Position'
    %th= 'Banner'
    %th.short= 'Admin'
    %th= 'SEO'
    %th.short= 'No Index'
    %th= image_tag('/assets/video.png', :title => 'YouTube Video')
    %th= image_tag('/assets/photos.png', :title => 'Number of photos')
    %th
    %th= 'Locale'
    %th{:title => 'Ticked if this entry has a product'}= 'P'
    %th= image_tag('/assets/calendar.png', :title => 'Last update')
    %th
    %th
