%tr{:id => "entry_id_#{entry.id.to_s}"}
  %td{:class => ('merge' if entry.merge_with_previous)}
    - if entry.title.blank? 
      %span{:title => truncate_html(entry.body, :length => 75)}= link_to '<No title>', edit_entry_path(entry)
    - else
      = link_to entry.title, edit_entry_path(entry)
  %td
    - if entry.tag
      = link_to entry.tag.name, edit_tag_path(entry.tag)
    - else
      = 'Error!'
  %td.tick
    = image_tag('tick.png', :title => "Merged with previous") if entry.merge_with_previous
  %td.tick
    = image_tag('tick.png', :title => "Entry master is #{entry.master_entry.locale + ': ' + entry.master_entry.title}") unless entry.master_entry.nil?
  %td.tick
    = image_tag('tick.png', :title => 'Visible in home page') if entry.home_page
  %td.tick
    = image_tag('tick.png', :title => 'Visible in news') if entry.news_item
  %td.tick
    = image_tag('tick.png', :title => 'Show side bar') if entry.side_bar
  %td.number= entry.position.to_s
  %td
    = entry.banner.name unless entry.banner.nil?
  %td.tick
    - if entry.seo.nil?
      = link_to image_tag('/assets/add.png', :title => "Add SEO meta tags"), new_entry_seo_path(entry, :return => entries_path), :remote => true
    - else
      = link_to image_tag('/assets/application_form_edit.png', :title => "Edit SEO meta tags"), edit_seo_path(entry.seo, :return => entries_path), :remote => true
  %td
    = link_to image_tag('tick.png', :title => 'YouTube Video'), "http://youtu.be/#{entry.youtube_id_str}" unless entry.youtube_id_str.blank?
  %td.number
    = link_to entry.photos.count.to_s, entry_photos_path(entry), :remote => true
  %td.tick
    = image_tag("/assets/file-types/#{entry.doc_mime_to_img}", :title => entry.doc_file_name) if entry.doc.present?
  %td{:class => ('warn' if (entry.locale != entry.tag.locale)), :title => ('Warning: locales do not match' if (entry.locale != entry.tag.locale))}
    = entry.locale.to_s
  %td.tick
    - if entry.product.present?
      = link_to image_tag('tick.png', :title => 'Click to edit product'), edit_entry_product_path(entry, entry.product, :return => entries_path), :remote => true
  %td= entry.updated_at.strftime('%d/%b/%y %H:%M')
  %td= link_to image_tag('/assets/page_copy.png', :title => "Use #{[entry.locale, ': ', entry.title].join} as master for new entry"), new_entry_path(:master => entry)
  %td= link_to image_tag('/assets/bin.png'), entry, :method => :delete, :data => { :confirm => 'Are you sure?' }
