.col.span_2_of_3
  .panel.group.list
    %h1= [@hit_count.to_s, t('SearchResultsFor'), @query].join(' ')
    #search-bar
      #search-bar-inner
        #search-wrapper
          = form_tag search_entries_path, method: 'get', :class => 'searchform' do
            = text_field_tag :q, params[:q], :placeholder => t('Search'), :class => 'searchfield'
            = image_submit_tag 'search-small.png', :class => 'searchbutton', :alt => t('Search')

    %table#results
      - @entries.__send__ controller.action_name == 'search' ? :each_with_hit : :each do |e, hit|
        - score_displayed = false
        - next unless e.indexable
        - @sidebar_menu_tag ||= e.tag
        %tr.head
          %td
            .icon= image_tag(e.tag.icon.url(:standard)) if e.tag.icon.present?
            -# TODO: Move to helper and do link to tag perhaps if blank
            - title = (hit.try(:highlight).try(:raw_title) ? hit.highlight.raw_title.join.html_safe : e.merged_main_entry_with_title.raw_title)
            - title = title.blank? ? e.tag.name : title
            %h3= link_to title, entry_link(e.merged_main_entry_with_title)
          %td
            .more
              = link_to t('Show'), entry_link(e.merged_main_entry_with_title)
        - if hit.try(:highlight).try(:effective_tag_line)
          %tr
            %td.result
              %h3= hit.highlight.effective_tag_line.join('&hellip;').html_safe
            %td.score{:rowspan => 2}
              = link_to ((hit._score).round.to_s + '%'), entry_link(e.merged_main_entry_with_title)
            - score_displayed = true
        %tr.last
          %td.result
            = hit.try(:highlight).try(:body) ? hit.highlight.body.join('&hellip;').html_safe : truncate_html(e.body, :length => 100)
          - unless score_displayed
            %td.score= (hit._score).round.to_s + '%'
