- if @entry.enable_comments && !@entry.comment_strategy.nil?
  - content_for :ujs do
    :javascript
      function semiStaticPostAJAX(url){
        var formElement = document.getElementById("commentFormData");
        var xhr = new XMLHttpRequest();
        xhr.open('POST', encodeURI(url));
        xhr.setRequestHeader("Accept", "text/javascript");
        xhr.onload = function() {
          if (xhr.status === 200) { eval(xhr.responseText); }
        };
        xhr.send(new FormData(formElement));
      }
      function commentsConfig(){
        semiStaticAJAX("#{entry_comments_path(@entry, :unused => true)}")
        if (typeof semi_static_custom_js == 'function') { 
          semi_static_custom_js(); 
        }
      }
      addSemiStaticLoadEvent(commentsConfig);

- if SemiStatic::Engine.config.shopping_cart && (@entry.product && @entry.product.orderable) || @entry.get_page_attr('pageHasProducts')
  - content_for :ujs do
    :javascript
      function semiStaticCartPostAJAX(e, url){
        var formElement = e.target
        var xhr = new XMLHttpRequest();
        xhr.open('POST', encodeURI(url));
        xhr.setRequestHeader("Accept", "text/javascript");
        xhr.onload = function() {
          if (xhr.status === 200) { eval(xhr.responseText); }
        };
        xhr.send(new FormData(formElement));
      }
      function semiStaticLoadCartButton(){
        semiStaticAJAX("#{product_path(@entry.product || 1, :unused => true)}")
      }
      addSemiStaticLoadEvent(semiStaticLoadCartButton);


- if @entry.partial_before_entries?
  = render :partial => @entry.partial_path
- if @entry.show_entries?
  .section
    .col{:class => ('span_2_of_3 main-col' if @entry.side_bar)}
      %article.panel.group
        .entry_wrapper
          = render :partial => 'semi_static/entries/entry', :locals => {:e => @entry}
          = photo_thumbs(@entry)
          #semi_static_async
    - if @entry.side_bar
      .col.span_1_of_3.side-bar
        - if SemiStatic::Tag.predefined(I18n.locale.to_s, 'Documents').first == @tag
          = render :partial => 'semi_static/entries/docs_side_bar', :locals => {:entrytag => @entry.tag}
        - else
          = render :partial => 'semi_static/tags/side_bar', :locals => {:entrytag => @entry.tag}

- if @entry.partial_after_entries?
  = render :partial => @entry.partial_path
