- if @entry.partial_before_entries?
  = render :partial => @entry.partial_path
- if @entry.show_entries?
  .section
    .col{:class => ('span_2_of_3 main-col' if @entry.side_bar)}
      %article.panel.group{:class => @entry.style_class, :style => "background-color:#{@entry.background_colour}; color:#{@entry.colour}"}
        = render :partial => 'entry', :locals => {:e => @entry, :style => (@entry.side_bar ? :show : :meduim)}
        = photo_thumbs(@entry)
    - if @entry.side_bar
      .col.span_1_of_3.side-bar
        - if SemiStatic::Tag.predefined(I18n.locale.to_s, 'Documents').empty?
          = render :partial => 'semi_static/tags/side_bar', :locals => {:entrytag => @entry.tag}
        - else
          = render :partial => 'semi_static/entries/docs_side_bar', :locals => {:entrytag => @entry.tag}

- if @entry.partial_after_entries?
  = render :partial => @entry.partial_path

