.entry{:style => "background-color: #{@entry.background_colour}", :class => @entry.get_page_attr('entryClasses').to_s.split(',').join(' ')}
  = render :partial => 'semi_static/entries/entry_contents', :locals => {:style => :summary, :e => @entry }
  = link_to Rails.application.routes.url_helpers.send(SemiStatic::Engine.config.subscribers_model.first[1]) do
    .subscriber_block
      .subscriber_notice
        .subscriber_instruction
          .membersOnly= t('subscribers.membersOnlyContent')
          .clickToRead= t('subscribers.clickHereToReadFullArticle')

