.button= link_to 'Download Entry HTML', entry_path(@entry, :format => 'text'), :target => "_blank"
- if @entry.product.nil?
  .button= link_to 'Add Product', new_entry_product_path(@entry, :return => edit_entry_path(@entry)), :remote => true
- else
  .button= link_to 'Edit product', edit_entry_product_path(@entry, @entry.product, :return => edit_entry_path(@entry)), :remote => true
- if @entry.seo.nil?
  .button= link_to 'Add SEO', new_entry_seo_path(@entry, :return => edit_entry_path(@entry)), :remote => true
- else
  .button= link_to 'Edit SEO', edit_seo_path(@entry.seo, :return => edit_entry_path(@entry)), :remote => true
- if @entry.click_ad.nil?
  .button= link_to 'Use as click ad', new_entry_click_ad_path(@entry, :return => edit_entry_path(@entry)), :remote => true
- else
  .button= link_to 'Edit click ad', edit_click_ad_path(@entry.click_ad, :return => edit_entry_path(@entry)), :remote => true
.button
  = link_to_function 'Preview', 'entry_preview();'

%h1
  = 'Editing'
  = @entry.title
= render 'form'
