.app-title
  %div
    %h1
      %i.fa.fa-website.invert
      = 'Editing'
    %p
      = @entry.title
  .text-right
    = link_to entry_link_path(@entry), :target => "_blank", :class => 'btn btn-primary btn-space' do
      %span.app-menu__icon.fa.fa-website
      %span Show
    - if @entry.product.nil?
      = link_to new_entry_product_path(@entry, :return => edit_entry_path(@entry)), :class => 'btn btn-primary btn-space', :remote => true do
        %span.app-menu__icon.fa.fa-website
        %span Add Product
    - else
      = link_to edit_entry_product_path(@entry, @entry.product, :return => edit_entry_path(@entry)), :class => 'btn btn-primary btn-space', :remote => true do
        %span.app-menu__icon.fa.fa-product
        %span Edit product
    = link_to entry_path(@entry, :format => 'text'), :target => "_blank", :class => 'btn btn-primary' do
      %span.app-menu__icon.fa.fa-website
      %span Download HTML
    .text-right.mt-2
      - if @entry.seo.nil?
        = link_to new_entry_seo_path(@entry, :return => edit_entry_path(@entry)), :remote => true, :class => 'btn btn-primary btn-space' do
          %span.app-menu__icon.fa.fa-graph
          %span Add SEO
      - else
        = link_to edit_seo_path(@entry.seo, :return => edit_entry_path(@entry)), :remote => true, :class => 'btn btn-primary btn-space' do
          %span.app-menu__icon.fa.fa-graph
          %span Edit SEO
      - unless @entry.seo.nil?
        = link_to new_seo_hreflang_path(@entry.seo), :remote => true, :class => 'btn btn-primary' do
          %span.app-menu__icon.fa.fa-graph
          %span hreflang
  
= render 'form'
