- content_for :ujs do
  :javascript
    $(document).ready(function() {
      $('#' + window.location.hash.substring(1)).children().addClass('flash');
      $(".sortable").tablesorter();
    });


.app-title
  %h1
    %i.fa.fa-website.invert
    - if @tag
      %span Entries for #{@tag.name}
    - else
      %span #{@entries.size} Entries
  .text-right
    - if @nopaginate
      = link_to entries_path, :title => 'Show Entries with pagination', :class => 'btn btn-primary btn-space' do
        %span.app-menu__icon.fa.fa-website
        %span Paginate
    - else
      = link_to entries_path(:nopaginate => true), :title => 'Show all Entries without pagination', :class => 'btn btn-primary btn-space loading' do
        %span.app-menu__icon.fa.fa-website
        %span All
    = link_to new_entry_path, :class => 'btn btn-primary btn' do
      %span.app-menu__icon.fa.fa-website
      New Entry

  
.tile
  .tile-body
    .table-responsive
      %table.table.sortable.table-bordered.table-hover.table-dense
        = render :partial => 'index_head'
        %tbody
          - @entries.each do |entry|
            = render :partial => 'index_row', :locals => {:entry => entry}
      - unless @tag || @nopaginate
        = paginate @entries, views_prefix: 'semi_static'
