- content_for :ujs do
  :javascript
    $(document).ready(function() {
      $('#' + window.location.hash.substring(1)).children().addClass('flash');
    });


.mid.full
  .button= link_to 'New Entry', new_entry_path
  %h1 Entries
  
  %table
    = render :partial => 'index_head'
    %tbody
      - @entries.each do |entry|
        = render :partial => 'index_row', :locals => {:entry => entry}

  - unless @newsletter_entries.blank?
    %h1 Newsletter Entries
    %table
      = render :partial => 'index_head'
      %tbody
        - @newsletter_entries.each do |entry|
          = render :partial => 'index_row', :locals => {:entry => entry}

    
