.section
  .col.span_2_of_3
    .group.list
      %h1= 'Search'
      = form_tag search_entries_path, method: 'get', :class => 'searchform' do
        = text_field_tag :q, params[:q], :placeholder => t('Search'), :class => 'searchfield'
        = image_submit_tag 'search-small.png', :class => 'searchbutton', :alt => t('Search')
  .col.span_1_of_3
    = render :partial => 'semi_static/tags/news'
