- if @entry.banner
  - content_for :banner do
    #overlay-2
      #tag-wrapper
        #tagline
          = @entry.banner.tag_line
    #banner
      #banner-frame
        .bg.desktop{:style => "background-image: url(#{@entry.banner.img.url(:desktop)})"}
        .bg.mobile{:style => "display: none; background-image: url(#{@entry.banner.img.url(:mobile)})"}

.section
  .col{:class => ('span_2_of_3' if @entry.side_bar)}
    .panel.group{:class => @entry.style_class, :style => "background-color:#{@entry.background_colour}; color:#{@entry.colour}"}
      = render :partial => 'entry', :locals => {:e => @entry}
      -# Is there an attached document?
      = render :partial => 'document' if @entry.doc.present?
      = render :partial => 'photos' unless @entry.photos.blank?
  - if @entry.side_bar
    .col.span_1_of_3
      = render :partial => 'semi_static/tags/side_bar', :locals => {:entrytag => @entry.tag}
