- if @tag.banner
  - content_for :banner do
    #overlay-2
      #tag-wrapper
        #tagline
          = @entry.banner.tag_line
    #banner
      #banner-frame
        .bg.desktop{:style => "background-image: url(#{@entry.banner.img.url(:desktop)})"}
        .bg.mobile{:style => "display: none; background-image: url(#{@entry.banner.img.url(:mobile)})"}

.section
  .col.span_2_of_3
    .panel.group{:class => @entry.style_class, :style => "background-color:#{@entry.background_colour}; color:#{@entry.colour}"}
      = render :partial => 'entry', :locals => {:e => @entry}
      -# Is there an attached document?
      - if @entry.doc.present?
        .doc
          .col.span_2_of_3
            = @entry.doc_description
          .col.span_1_of_3
            .button
              = link_to "Download (#{(@entry.doc_file_size/1048576).to_s}Mb)", @entry.doc.url
      - unless @entry.photos.blank?
        .gallery.doc
          .spacer_wrapper
            -# %h2{:style => "color: #{@entry.header_colour}"}= t('Gallery')
            - @entry.photos.each do |p|
              .photo.nutshell
                .spaced
                  = link_to image_tag(p.img.url(:mini), :title => "#{p.title} - #{truncate(p.description, :length => 50)}"), photo_path(p)
  .col.span_1_of_3
    = render :partial => 'semi_static/tags/side_bar', :locals => {:entrytag => @entry.tag}
