%h1= @tag.name
- if @tag.banner
  - content_for :banner do
    #overlay-2
      - unless @tag.banner.tag_line.blank?
        #tag-wrapper
          #tagline
            = @tag.banner.tag_line
    #banner
      #banner-frame
        .bg.desktop{:style => "background-image: url(#{@tag.banner.img_url_for_theme(:desktop)})"}
        .bg.mobile{:style => "display: none; background-image: url(#{@tag.banner.img_url_for_theme(:mobile)})"}


- if @tag.partial_before_entries?
  = render :partial => @tag.partial_path
- if @tag.show_entries?
  .section
    - @tag.entries[0..(@tag.max_entries_on_index_page - 1)].each_slice(3) do |row|
      .section
        - row.each do |e|
          .col.span_1_of_3
            .panel.group{:class => e.style_class, :style => "background-color:#{e.background_colour}; color:#{e.colour}"}
              = render :partial => 'semi_static/entries/entry', :locals => {:e => e, :summary => true}
- if @tag.partial_after_entries?
  = render :partial => @tag.partial_path

