= 'Website request'

= h 'Name: ' + [ @contact.name, @contact.surname ].join(" ")

= h 'Email: ' +  @contact.email

= h 'Telephone: ' + @contact.telephone

= '----------------- Message -----------------'

= h @contact.message

= '-------------------------------------------'
