= 'Website request for ' + SemiStatic::Engine.config.site_name

= h 'Name: ' + @contact.name.to_s

= h 'Surname: ' + @contact.surname.to_s

= h 'Reason: ' +  @contact.reason.to_s

= h 'Email: ' +  @contact.email.to_s

= h 'Telephone: ' + @contact.telephone.to_s

= '-------------------- Message -------------------'

= h @contact.message.to_s

= '------------------ Message end -----------------'

The contact ticked the following agreements:

= ''  

- @contact.agreements.each do |a|
  = '-  ' + a.body.to_s  

  = ''  

  - if a.add_to_subscribers
    = '---- This agreement allowed us to add the Contact to the subsribers list'

= '-------------------------------------------'

- if @custom_params.present?

  The following parameters were also supplied:

  - @custom_params.each do |k, v|

    = ''  
    = k.to_s + ': ' + v.to_s

  = ''  
  = '-------------------------------------------'
