#top
  #top-inner
    %ul
      = locales
      %li.lady.icon= link_to t('Sign_In'), new_user_session_path
      %li.contact.icon= link_to t('Contact'), new_contact_path
  #logo-wrapper
    #logo
#banner
  #banner-frame
    = render 'semi_static/shared/menu'
    #tag-wrapper
      #tagline
        = t('TagLine')
    #banner0.bg
    #banner1.bg
    #banner2.bg
    #banner3.bg
    #banner4.bg
    #bannerBg.bg
