#top
  #menu-button{:onclick => 'semiStaticOpenMenu()'}
    = t('MENU')
  #top-inner
    %ul
      = locales
      %li.lady.icon= link_to t('Sign_In'), new_user_session_path
      %li.contact.icon= link_to t('Contact'), new_contact_path
#overlay
  #overlay-inner
    = render 'semi_static/shared/menu'
    #logo-wrapper
      #logo
    #tag-wrapper
      #tagline
        = t('TagLine')
#banner
  #banner-frame
    #banner0.bg
    #banner1.bg
    #banner2.bg
    #banner3.bg
    #banner4.bg
    #bannerBg.bg
