= yield :pre_footer
#footer
  = yield :footer_top
  #toTop
    = link_to '#top' do
      %span.arrow= t('Top')
  #footer-wrapper
    #footer-inner.section
      .group
        = page_footer
      .group.notices
        .copy
          %p
            = copyright_year
            = SemiStatic::Engine.config.copyright_owner
        .credits
          = link_to t('ImprintAndCredits'), semi_static.site_path('imprint-credits')
        .stamps
          = link_to "https://validator.w3.org/check?uri=referer", :aria => {:label => 'w3 html validator'} do
            #html5
