#footer
  #footer-inner.section
    .group
      = page_footer
    .group.notices
      .col.span_1_of_3
        .copy
          %div
            &copy;
            = SemiStatic::Engine.config.copyright_year
            = SemiStatic::Engine.config.copyright_owner
      .col.span_1_of_3
        .credits
          = link_to t('ImprintAndCredits'), semi_static.site_path('imprint-credits')
      .col.span_1_of_3
        .stamps
          = link_to "http://validator.w3.org/check?uri=referer" do
            #html5
          = link_to "http://www.datadock.eu/en" do
            #ddock
