#menu-button-wrapper
  #menu-button{:title => 'Menu', :onclick => 'semiStaticSlideOpenMenu()'}
    %span.text= t('Menu')
    .menu-line
    .menu-line
    .menu-line
#slide-menu-window
  #slide-menu-wrapper
    %nav#slide-menu-inner
      #menu-close{:onclick => 'semiStaticSlideCloseMenu()'}
        #close-sym
          &otimes;
      #slide-menu-main.section.group
        - SemiStatic::Tag.slide_menu.locale(I18n.locale.to_s).each_with_index do |mt, i|
          .wrapper{:id => ('selected' if ((@tag == mt) || (@selection == mt.predefined_class)))}
            = link_to mt.name, menu_from_tag(mt), :class => 'text '
            - if lookup_context.exists?('semi_static/shared/_hover_menu')
              = render :partial => 'semi_static/shared/hover_menu', :locals => {:mt => mt}
    %nav.bar-menu
      %ul
        %li
          #search-bar
            #search-bar-inner
              #search-wrapper.search.icon
                = form_tag semi_static.search_entries_path, method: 'get', :class => 'searchform' do
                  = text_field_tag :q, params[:q], :placeholder => t('Search'), :class => 'searchfield'
        %li.contact.icon= link_to t('Contact'), semi_static.new_contact_path
        - if SemiStatic::Engine.config.try('subscribers_model')
          - label = subscriber_content ? 'subscribers.Area' : 'subscribers.Sign_In'
          %li.sign-in.icon= link_to t(label), main_app.send(SemiStatic::Engine.config.subscribers_model.values[0])
      %ul.locales
        = locales(false)
    
