#top
  #menu-button{:onclick => 'semiStaticOpenMenu()'}
    = t('Menu')
    .menu-line
    .menu-line
    .menu-line
  #top-inner
    = render 'semi_static/shared/bar'
  #overlay
    #overlay-inner
      = render 'semi_static/shared/menu'
      #logo-wrapper
        = link_to semi_static.home_path do
          #logo
      #tag-wrapper
        #tagline
          = t('TagLine')
#frame
  = yield :banner
  #container
    - flash.each do |key, value|
      = content_tag :div, value, :id => "notice" unless value.blank?
    #dialog{:style => 'display: none;'}
    #content
      =yield
