#slide-menu
  = render 'semi_static/shared/slide_menu'
#top
  #top-inner
    = render 'semi_static/shared/bar'
  #overlay
    #overlay-inner
      = render 'semi_static/shared/menu'
      #logo-wrapper
        #logo
      -# The tagline can be disabled on this theme by providing a home tag page attribute
      -# called 'disableTagLine'
      - unless @tag && @tag.get_page_attr('disableTagLine').present?
        #tag-wrapper
          #tagline
            = t('TagLine')
= yield :post_tagline
= yield :pre_content
#frame
  -# The banner can be disabled on this theme by providing a home tag page attribute
  -# called 'disableBanner'
  - unless @tag && @tag.get_page_attr('disableBanner').present?
    #banner
      #bannerBg
        = image_tag('banners/banner.jpg')
      #banner0.bg
        = image_tag('banners/banner.jpg')
      #banner1.bg
        = image_tag('banners/banner.jpg')
      #banner4.bg
        = image_tag('banners/banner.jpg')
      #custom-banner-overlay.bg
        = render :partial =>  'semi_static/site/banner-overlay' rescue nil
      #banner-loading
  -# And if you want your own custom banner, use a partial to add content_for :banner here
  = yield :banner
  #container
    #content
      =yield
