.gallery.index.group
  .spacer_wrapper.reference
    - SemiStatic::Reference.all.each do |r|
      - if r.logo.present?
        .photo.nutshell
          - if r.title.empty?
            .spaced.blank
          - else 
            .spaced
              - if r.quote.blank?
                = image_tag(r.logo.url(:mini), :title => "#{r.title}")
              - else
                = link_to image_tag(r.logo.url(:mini), :title => "#{r.title} - #{truncate(r.body, :length => 50)}"), reference_path(r)

