= render :partial => 'semi_static/shared/custom_banner', :locals => {:banner_name => 'References'}
.section
  .col.span_2_of_3
    .panel
      %h2= @reference.title
      .group
        .col.span_1_of_3
          = image_tag(@reference.logo.url(:small), :title => "#{@reference.title}")
        .col.span_2_of_3
          = simple_format(@reference.body)
      .quote
        = simple_format(@reference.quote)
  .col.span_1_of_3
    = render :partial => 'semi_static/references/side_bar'
