#top
  #top-wrapper{:data => {'500-top' => "position: relative", 'top' => "position: fixed; top: 0; z-index: 1000;"}}
    #menu-button{:onclick => 'semiStaticOpenMenu()'}
      = t('Menu')
      .menu-line
      .menu-line
      .menu-line
    #bar.contain
      #bar-inner
        = render 'semi_static/shared/bar'
      #logo-wrapper
        #logo
          = SemiStatic::Engine.config.site_name
    #overlay
      #overlay-inner
        = render 'semi_static/shared/menu'
= yield :banner
#tag
  #tag-wrapper
    #tagline
      = t('TagLine')
= yield :banner_below_tagline
#frame
  #container
    #content
      =yield
