.mid
  .panel
    %h4= 'Latest Contacts'
    %table
      %thead
        %tr
          %td Name & Email
          %td Message
          %td Date
      %tbody
        - SemiStatic::Contact.limit(5).each do |c|
          %tr
            %td
              = link_to c.fullname, c
              %br/
              = mail_to c.email, c.email
            %td= simple_format(truncate(c.message))
            %td= c.created_at.strftime('%d-%m-%y')
