- content_for :ujs do
  :javascript
    $(document).ready(function() {
      $('#pixelRatio').text(window.devicePixelRatio.toString());
    });


.row
  .col-md-6
    .tile
      .tile-title-w-btn{:title => 'Reindex the website.'}
        %h5
          %span.app-menu__icon.fa.fa-search.invert
          = 'Search'
        %p
          = link_to system_path(:cmd => {:search_reindex => :all}), :method => :put, :class => 'btn btn-primary btn-show-loading', :remote => true do
            %span.app-menu__icon.fa.fa-search
            %span Reindex
      #search_reindex_result
  .col-md-6
    .tile
      .tile-title-w-btn{:title => 'Delete Cache (Remove static pages)'}
        %h5
          %span.app-menu__icon.fa.fa-website.invert
          = 'Page cache'
        %p
          = link_to system_path(:cmd => {:expire_page_cache => :all}), :method => :put, :class => 'btn btn-primary btn-show-loading', :remote => true do
            %span.app-menu__icon.fa.fa-website
            %span Delete
      #expire_cache

.row
  .col-md-6
    .tile
      .tile-title-w-btn{:title => 'Restart Passenger App Server (if used)'}
        %h5
          %span.app-menu__icon.fa.fa-settings.invert
          = 'Passenger'
        %p
          = link_to system_path(:cmd => {:passenger_restart => :all}), :method => :put, :class => 'btn btn-primary btn-show-loading', :remote => true do
            %span.app-menu__icon.fa.fa-settings
            %span Restart
      #passenger_restart
  .col-md-6
    .tile
      .tile-title-w-btn{:title => 'Check and clean up possible errors'}
        %h5
          %span.app-menu__icon.fa.fa-database.invert
          = 'Check and clean'
        %p
          = link_to system_path(:cmd => {:clean_up => :all}), :method => :put, :class => 'btn btn-primary btn-show-loading', :remote => true do
            %span.app-menu__icon.fa.fa-database
            %span Start
      #clean_up

.row
  .col-md-6
    .tile
      .infobox#sitemaps
        %h4= 'Generate a sitemap sutable for submission to Google, Bing, etc.'
        %h5= 'Some words of warning'
        %p
          = 'If you submit a sitemap you then face the challange of generating a new site map and submitting it every time that you make'
          = 'a change.'
        %p
          = 'This will NOT generate ULRs in the sitemap for predefined tags unless they have actaully been allocated to a '
          = 'real tag. So if you are manually using something like http://mysite.com/photos, this will not be included in'
          = 'your site map unless it has been allocated to a real tag, eg. a tag called "Photos" that uses the pre-defined tag "Gallery".'
        - if SemiStatic::Engine.config.has?('sitemap')
          %p
            = "Your configuration has set your sitemap locations to"
          %ul
            - SemiStatic::Engine.config.localeDomains.each do |k, v|
              %li= link_to construct_url(SemiStatic::Engine.config.sitemap, k), construct_url(SemiStatic::Engine.config.sitemap, k)
      .tile-title-w-btn.infomarker{:title => 'Generate sitemaps for Search Engines eg. Google and Bing'}
        %h5
          %span.app-menu__icon.fa.fa-settings.invert
          = 'Generate sitemaps'
        %p
          = link_to system_path(:cmd => {:generate_sitemap_options => :all}, :locale => session[:locale]), :method => :put, :class => 'btn btn-primary btn-show-loading', :remote => true do
            %span.app-menu__icon.fa.fa-settings
            %span Sitemap Options
      #generate_sitemap

  .col-md-6
    .tile
      .infobox#generate_static_pages
        %h4= 'Generate all static pages for the website'
        %p
          = 'By default your website static pages will be built on demand as the requests for the pages'
          = 'are processed by the Rails application. However you can build all the static pages in advance'
          = 'and thus have the advantage of a potentially better user experience and possibly eliminating'
          = 'problems where search enging crawlers time-out or falsely conclude that your website takes'
          = 'a long while to respond.'
      .tile-title-w-btn.infomarker{:title => 'Generate sitemaps for Search Engines eg. Google and Bing'}
        %h5
          %span.app-menu__icon.fa.fa-settings.invert
          = 'Generate static pages'
        - SemiStatic::Engine.config.localeDomains.each do |k, v|
          %p
            = link_to system_path(:cmd => {:generate_static_pages => :all}, :locale => k), :class => 'btn btn-primary btn-show-loading', :method => :put do
              %span.app-menu__icon.fa.fa-settings
              %span= v
