.infobox#tag_workspace
  %h4='Set Workspace'
  %p
    = 'You can set your tag workspace to restrict the entries that you work with. In this case clicking on "Entries"'
    = 'will then only display the entries from your choosen workspace tag. This speeds up the admin console and'
    = 'possibly help you avoid accedentally editing and entry in a different tag'
  %p
    = 'Setting the tag workspace will also stop the page cache being deleted on every content update, so you may need'
    = 'to do a manual \"Exprire Cache\" before your changes are fully reflected.'
.tile-title.infomarker{:title => 'Set your Admin workspace to a specific Tag'}
  %h5
    %span.app-menu__icon.fa.fa-website.invert
    = 'Tag Workspace'
.tile-body
  .row
    .col-lg-12
      = form_tag system_path(), :method => :put, :remote => true do
        .input-group
          .input-group-prepend
            %span.input-group-text Tag
          = select_tag 'session[workspace_tag_id]', options_for_select(SemiStatic::Tag.all.collect{|t| [t.name, t.id]}.prepend(["- None -", nil]), session[:workspace_tag_id]), :class => 'form-control'
          = submit_tag 'Set', :class => 'btn btn-primary'
  .row.mt-3
    .col-lg-12
      .bs-component
        #tag_workspace_result
