- content_for :ujs do
  :javascript
    $(document).ready(function() {
      semi_static_file_name_input = $('#banner_name');
      $("#banner_img").on('change', semiStaticPrepareUploadFromInput);
    });

= form_for(@banner) do |f|
  - if @banner.errors.any?
    #error_explanation
      %h2= pluralize(@banner.errors.count, "error") + 'prohibited this banner from being saved:'

      %ul
        - @banner.errors.full_messages.each do |msg|
          %li= msg


  %fieldset
    .infobox#infor_box_for_banner_name
      %h4= 'Banner name'
      %p
        = "Some names are reserved and can be used for predefined pages, e.g 'Contact', 'Gallery', 'References'."
      %p
        = "For example, having a banner"
        = "named 'Contact' will cause it to be automatically displayed on the Contact page."
      %p
        = "If you name your banner 'Default' then it will be used for all predefined pages"

    = f.label :name, :class => 'infomarker'
    %br/
    = f.text_field :name
  %fieldset
    = f.label :tag_line
    %br
    = f.text_field :tag_line
  %fieldset
    - if @banner.img.present?
      = image_tag(@banner.img_url_for_theme(:mobile), :title => @banner.name, :class => 'ri')
      %br/
    = f.label :img, 'Image'
    %br/
    = f.file_field :img




  .actions
    = f.submit
