<!-- CONTENT TABLE // -->
<table align="left" border="0" cellpadding="0" cellspacing="0" width="100%">
  <tr>
    <td align="center" valign="top" class="flexibleContainerBox">
      <table border="0" cellpadding="0" cellspacing="0" width="280" style="max-width:100%;">
        <tr>
          <td align="center" class="textContent">
            <% @max_images = @max_images -1 %>
            <% if @max_images > 0 %>
              <a href="<%= entry_url(le) %>" target="_blank" style="text-decoration:none;"><img src="<%= attachments[le.id.to_s + '.jpg'].url %>" width="280" border="0" class="flexibleImage" style="max-width:100%;" title="<%= le.title %>" alt="<%= le.title %>" /></a>
            <% else %>
              <a href="<%= entry_url(le) %>" target="_blank" style="text-decoration:none;"><img src="<%= 'http://' + @site_url + @newsletter.draft_entry_ids[le.id][:img_url] %>" width="280" border="0" class="flexibleImage" style="width:280px;max-width:100%;" title="<%= le.title %>" alt="<%= le.title %>" /></a>
            <% end %>
            <a href="<%= entry_url(le) %>" target="_blank" style="text-decoration:none;">
              <h3 style="color:#5F5F5F;line-height:125%;font-family:Helvetica,Arial,sans-serif;font-size:20px;font-weight:normal;margin-top:10px;margin-bottom:3px;text-align:left;"><%= le.title %></h3>
              <% unless le.sub_title.blank? %>
              <div style="text-align:left;font-family:Helvetica,Arial,sans-serif;font-size:14px;margin-bottom:0;color:#808080;line-height:135%;"><%= le.sub_title %></div>
              <% end %>
            </a>
          </td>
        </tr>
      </table>
    </td>
    <td align="center" valign="top" class="flexibleContainerBox">
      <table class="flexibleContainerBoxNext" border="0" cellpadding="0" cellspacing="0" width="280" style="max-width:100%;">
        <tr>
          <td align="center" class="textContent">
            <% unless le == re %>
            <% @max_images = @max_images -1 %>
            <% if @max_images > 0 %>
              <a href="<%= entry_url(re) %>" target="_blank" style="text-decoration:none;"><img src="<%= attachments[re.id.to_s + '.jpg'].url %>" width="280" border="0" class="flexibleImage" style="max-width:100%;" title="<%= re.title %>" alt="<%= re.title %>" /></a>
            <% else %>
              <a href="<%= entry_url(re) %>" target="_blank" style="text-decoration:none;"><img src="<%= 'http://' + @site_url + @newsletter.draft_entry_ids[re.id][:img_url] %>" width="280" border="0" class="flexibleImage" style="width:280px;max-width:100%;" title="<%= re.title %>" alt="<%= re.title %>" /></a>
            <% end %>
            <a href="<%= entry_url(re) %>" target="_blank" style="text-decoration:none;">
              <h3 style="color:#5F5F5F;line-height:125%;font-family:Helvetica,Arial,sans-serif;font-size:20px;font-weight:normal;margin-top:10px;margin-bottom:3px;text-align:left;"><%= re.title %></h3>
              <% unless re.sub_title.blank? %>
              <div style="text-align:left;font-family:Helvetica,Arial,sans-serif;font-size:14px;margin-bottom:0;color:#808080;line-height:135%;"><%= re.sub_title %></div>
              <% end %>
              <% end %>
            </a>
          </td>
        </tr>
      </table>
    </td>
  </tr>
</table>
<!-- // CONTENT TABLE -->

