= '==================================================='
= @newsletter.name
= @newsletter.subtitle
= '==================================================='
= "\r\n"
= "\r\n"
- if @newsletter.salutation
  = @newsletter.salutation_pre_text
  = salutation_name(@newsletter, @subscriber) + ','
  = "\r\n"
  = @newsletter.salutation_post_text unless @newsletter.salutation_post_text.blank?

  = "\r\n"
- @newsletter.draft_entry_objects.each do |e|
  = e.title
  - unless e.sub_title.blank?
    = e.sub_title unless e.sub_title.blank?

  - unless SemiStatic::Newsletter::ENTRY_LAYOUT_CODES[@newsletter.draft_entry_ids[e.id][:layout]].to_s.include?('no_link')
    = entry_path(e, :only_path => false)
  - else
    = strip_tags(entry_summary(e, e.summary_length))
    
  = '-------------------------------------------------------------------------------------'
  = "\r\n"
= "\r\n"
= '====================================================================================='
- if @subscriber
  To unsubscribe to this newsletter please click on the following url or copy it into your browser:
  = edit_subscriber_path(@subscriber, :token => @subscriber.respond_to?('cancel_token') ? @subscriber.cancel_token : '', :only_path => false)

