= '==================================================='
= @newsletter.name
= @newsletter.subtitle
= '==================================================='
= "\r\n"
= "\r\n"
- if @newsletter.salutation
  = @newsletter.salutation_pre_text
  = salutation_name(@newsletter, @subscriber) + ','
  = "\r\n"
  = @newsletter.salutation_post_text unless @newsletter.salutation_post_text.blank?

- @newsletter.draft_entry_objects.each do |e|
  = e.title
  - unless e.sub_title.blank?
    = e.sub_title unless e.sub_title.blank?
  = "\r\n"
  = entry_path(e, :only_path => false)
  = '-------------------------------------------------------------------------------------'
  = "\r\n"
= "\r\n"
= '====================================================================================='
- if @subscriber
  To unsubscribe to this newsletter please click on the following url or copy it into your browser:
  = edit_subscriber_path(@subscriber, :token => @subscriber.cancel_token, :only_path => false)
