.col.span_1_of_2.wrapping{:class => e.style_class, :style => "background-color:#{e.background_colour}; color:#{e.colour}"}
  .html
    = entry_body(e)
    = photo_main(e, @group_size || 2)
    = semantic_product(e)
