= form_for([@seo, @hreflang]) do |f|
  - if @hreflang.errors.any?
    #error_explanation
      %h2= pluralize(@hreflang.errors.count, "error") + ' prohibited this hreflang from being saved:'
      %ul
        - @hreflang.errors.full_messages.each do |msg|
          %li= msg

  = labeled_selectbox(f, :locale, options_for_select(I18n.available_locales.collect{|l| [l, l]}, @hreflang.locale))
  = labeled_textfield(f, :href, 'URL')

  .row
    .col-md-12.mt-3
      = f.submit 'Save', :class => 'btn btn-primary'
