#top
  #menu-button{:onclick => 'semiStaticOpenMenu()'}
    = t('Menu')
  #top-inner
    %nav.bar_menu
      %ul
        = locales
        %li.contact.icon= link_to t('Contact'), semi_static.new_contact_path

  #overlay
    #overlay-inner
      = render 'semi_static/shared/menu'
      #logo-wrapper
        #logo
= yield :banner
#frame
  #container
    #content
      =yield
