#menu-wrapper
  #menu-filler
  %nav#menu
    #menu-main.section.group
      - SemiStatic::Tag.menu.locale(I18n.locale.to_s).limit(max_menu_tags).each_with_index do |mt, i|
        .col.span_1_of_5
          .wrapper{:id => ('selected' if ((@tag == mt) || (@selection == mt.predefined_class)))}
            = link_to mt.name, menu_from_tag(mt), :class => 'text '
            - if SemiStatic::Tag.use_sprites?
              .icon.sprite{:id => "sprite_#{(i + 1).to_s}"}
            - else
              - if mt.icon_in_menu && mt.icon.present?
                - if mt.icon_resize
                  .icon= image_mt(mt.icon.url(:big))
                - else
                  .icon= image_mt(mt.icon.url)
              - else
                .icon
                  .custom
            - if SemiStatic::Engine.config.has?('hover_menu') && lookup_context.exists?('semi_static/shared/_hover_menu')
              = render :partial => 'semi_static/shared/hover_menu', :locals => {:mt => mt}

