.button
  = link_to 'New Subscriber', new_subscriber_path
.button
  = link_to 'Upload CSV', new_subscriber_path(:cmd => :csv), :remote => true
%h1 Listing subscribers

= render :partial => 'semi_static/subscribers/csv_errors' if @errors && !@errors.empty?

%table
  %tr
    %th Name
    %th Surname
    %th Email
    %th Telephone
    %th Cancel token
    %th
    %th
    %th

  - @subscribers.each do |subscriber|
    %tr
      %td= subscriber.name
      %td= subscriber.surname
      %td= subscriber.email
      %td= subscriber.telephone
      %td= subscriber.cancel_token
      %td= link_to 'Show', subscriber
      %td= link_to 'Edit', edit_subscriber_path(subscriber)
      %td= link_to 'Destroy', subscriber, method: :delete, data: { confirm: "Confirm deletion of #{subscriber.fullname || '<blank>'}" }
