.dashboard.mid
  %p
    Name:
    = @subscriber.name
  %p
    Surname:
    = @subscriber.surname
  %p
    Email:
    = mail_to @subscriber.email, @subscriber.email
  %p
    Telephone:
    = @subscriber.telephone
  
  %p
    Position:
    = @subscriber.position
  
  %p
    Company:
    = @subscriber.company
  
  %p
    Country:
    = @subscriber.country
  
  %p
    Cancel token:
    = @subscriber.cancel_token
