.dash
  .button
    = link_to 'Add unsubscriber', new_subscriber_path(:subscriber => {:unsubscribe => true})
  .button
    = link_to 'Subscribers', subscribers_path
  %h1= "Listing #{@subscribers.count} unsubscribed"
  
  %h2= "This is a list of people that have asked to be unsubscribed to your emails. You should not ad these back into the subscriber list unless you have an explicit request to do so from the person themselves"
  %table
    %tr
      %th Name
      %th Surname
      %th Email
      %th Telephone
      %th Category
      %th Locale
      %th
      %th
      %th
  
    - @subscribers.each do |subscriber|
      %tr
        %td= subscriber.name
        %td= subscriber.surname
        %td= subscriber.email
        %td= subscriber.telephone
        %td= subscriber.category_name
        %td= subscriber.locale
        %td= link_to 'Show', subscriber
        %td= link_to 'Edit', edit_subscriber_path(subscriber)
        %td= link_to image_tag('/assets/bin.png'), subscriber, method: :delete, data: { confirm: "Confirm deletion of #{subscriber.fullname || '<blank>'}" }
