%table
  %tr
    %th
    %th Title
    %th Description (Caption)
    %th Entry Link
    %th{:colspan => 2} Position
    %th Home Page
    %th SEO
    %th

  - @photos.each do |p|
    %tr
      %td
        - if p.img.exists?
          = link_to image_tag(p.img.url(:mini), :title => p.title), edit_photo_path(p)
      %td= link_to p.title, edit_photo_path(p)
      %td= p.description
      %td
        = link_to p.entry.explicit_title, edit_entry_path(p.entry) if p.entry
      %td.number= p.position
      %td= SemiStatic::Photo::GALLERY[p.gallery_control].to_s.humanize
      %td.tick
        = image_tag('/assets/tick.png') if p.home_page
      %td.tick
        - if p.seo.nil?
          = link_to image_tag('/assets/add.png', :title => "Add SEO meta tags"), new_photo_seo_path(p, :return => photos_path), :remote => true
        - else
          = link_to image_tag('/assets/application_form_edit.png', :title => "Edit SEO meta tags"), edit_seo_path(p.seo, :return => photos_path), :remote => true
      %td= link_to image_tag('/assets/bin.png'), photo_path(p), :method => :delete, :data => { :confirm => 'Are you sure?' }
