%table.table
  %tr
    %th #
    %th
      %i.app-menu__icon.fa.fa-photo
    %th Title
    %th Description (Caption)
    %th Entry Link
    %th{:title => 'Position'}
      %i.app-menu__icon.fa.fa-vertical
    %th{:title => 'Locale'}
      %i.app-menu__icon.fa.fa-lang
    %th{:title => 'Show on home Page'} H
    %th{:title => 'SEO'}
      %i.app-menu__icon.fa.fa-graph
    %th
    %th
      %i.app-menu__icon.fa.fa-delete

  - @photos.each do |p|
    %tr{:id => "photo_id_#{p.id}"}
      %td= p.id
      %td.photo
        - if p.img.exists?
          = link_to image_tag(p.img.url(:mini), :title => p.title), edit_photo_path(p)
      %td= link_to truncate(p.title, :length => 20), edit_photo_path(p)
      %td= truncate(p.description, :length => 30)
      %td
        = link_to truncate(p.entry.explicit_title, :length => 20), edit_entry_path(p.entry) if p.entry
      %td= p.position
      %td= p.locale.to_s
      %td.tick
        = image_tag('tick.png') if p.home_page
      %td.tick
        - if p.seo.nil?
          = link_to image_tag('add.png', :title => "Add SEO meta tags"), new_photo_seo_path(p, :return => galleries_path), :remote => true
        - elsif p.seo.no_index
          = link_to image_tag('error.png', :title => 'Warning: NO INDEX is set'), new_photo_seo_path(p, :return => galleries_path), :remote => true
        - else
          = link_to image_tag('application_form_edit.png', :title => "Edit SEO meta tags"), edit_seo_path(p.seo, :return => galleries_path), :remote => true
      %td= link_to image_tag('page_copy.png', :title => "Use #{[p.locale, ': ', p.title].join} as master for new photo"), new_photo_path(:master => p)
      %td
        = link_to photo_path(p), :method => :delete, :data => { :confirm => 'Are you sure?' }, :remote => true do
          %i.app-menu__icon.fa.fa-delete
