%h2= @photo.title
.section.rotate
  .left
    = link_to t('Previous'), photo_path(@previous), :class => 'cmd prev', :remote => true
  .center
    - unless @photo.entry.blank?
      .link
        = link_to truncate(@photo.entry.title, :length => 32), entry_path(@photo.entry)
    - else
      -# Dot below fixes odd webkit behaviour of empty divs with % widths
      = '.'
  .right
    = link_to t('Next'), photo_path(@next), :class => 'cmd next', :remote => true
- if @photo && @photo.img.exists? then
  = image_tag(@photo.img.url(:big), :title => @photo.title)
.caption
  = simple_format(@photo.description) unless @photo.description.blank?

