%h2= @photo.title
.section.rotate
  .left
    = link_to photo_path(@previous), :class => 'prev', :remote => true do
      %span.cmd= t('Previous')
  .center
    - unless @photo.entry.blank?
      .link
        = link_to truncate(@photo.entry.title, :length => 32), entry_path(@photo.entry)
    - else
      -# Dot below fixes odd webkit behaviour of empty divs with % widths
      = '.'
  .right
    = link_to photo_path(@next), :class => 'next', :remote => true do
      %span.cmd= t('Next')
- if @photo && @photo.img.exists? then
  = link_to image_tag(@photo.img.url(:big), :title => @photo.title), @photo.img.url
.caption
  = simple_format(@photo.description) unless @photo.description.blank?

