%h2= @photo.title
.section.rotate
  = link_to photo_path(@previous), :class => 'left cmd prev', :remote => true do
    .arrow= '◂'
  - unless @photo.entry.blank?
    .center
      .link
        = link_to truncate(@photo.entry.raw_title, :length => 32), entry_link_path(@photo.entry.merged_main_entry)
  - else
    -# Dot below fixes odd webkit behaviour of empty divs with % widths
    = '.'
  = link_to photo_path(@next), :class => 'right cmd next', :remote => true do
    .arrow= '▸'

= semantic_photo(@photo, :big, false)
