.dashboard
  .button
    = link_to 'New Photo', new_photo_path
  %h1 Gallery

  %table
    %tr
      %th
      %th Title
      %th Description (Caption)
      %th Entry Link
      %th{:colspan => 2} Position
      %th Home Page
      %th

    - @photos.each do |p|
      %tr
        %td
          - if p.img.exists?
            = link_to image_tag(p.img.url(:mini), :title => p.title), edit_photo_path(p)
        %td= link_to p.title, edit_photo_path(p)
        %td= p.description
        %td
          = link_to p.entry.explicit_title, edit_entry_path(p.entry) if p.entry
        %td.number= p.position
        %td= SemiStatic::Photo::GALLERY[p.gallery_control].to_s.humanize
        %td.tick
          = image_tag('/assets/tick.png') if p.home_page
        %td= link_to image_tag('/assets/bin.png'), photo_path(p), :method => :delete, :data => { :confirm => 'Are you sure?' }
