= render :partial => 'semi_static/shared/custom_banner', :locals => {:banner_name => 'Gallery'}

- if @tag.partial_before_entries?
  = render :partial => @tag.partial_path
- if @tag.show_entries?
  .section
    - if @tag.side_bar
      .col.span_2_of_3.main-col
        - if @tag.partial_inline?
          = render :partial => @tag.partial_path
        - else
          = render 'semi_static/tags/main_col'
          = render 'semi_static/photos/main_col'
      .col.span_1_of_3.side-bar
        = render :partial => 'semi_static/tags/side_bar'
    - else
      .col.span_3_of_3.main-col
        - if @tag.partial_inline?
          = render :partial => @tag.partial_path
        - else
          = render 'semi_static/tags/main_col', :style => :medium
          = render 'semi_static/photos/main_col', :style => :medium
- if @tag.partial_after_entries?
  = render :partial => @tag.partial_path
