%div
  = link_to cart_path, class: "btn btn-link" do
    %div{:title => 'Show or change Cart Contents'}
      = "#{current_order.order_items.size} Items in Cart ( #{number_to_currency current_order.subtotal, :unit => default_currency_sym} )"
    %div= "Checkout"
    %div= "Change Contents"
