.mid.wide
  %h1= 'Deliveries for ' + @newsletter.name 

  %table
    %tr
      %th Name
      %th Email
      %th State
      %th Date
      %th

    - @deliveries.each do |d|
      %tr
        %td= d.fullname || '<Deleted>'
        %td= d.email || '<Deleted>'
        %td.number= SemiStatic::NewsletterDelivery::STATE_CODES[d.state].to_s.humanize
        %td.number= d.updated_at.strftime('%d-%b-%Y %H:%M')
        %td

