- if @agreement.errors.any?
  #error_explanation.errors
    %h2= "#{pluralize(@agreement.errors.count, "error")} prohibited this agreement from being saved:"
    %ul
      - @agreement.errors.full_messages.each do |msg|
        %li= msg

= form_for @agreement do |f|
  .row
    .col-md-12
      .tile
        .input-group
          - if @agreement.contacts.empty?
            .input-group-prepend
              = f.label :body, 'Agreement text body (HTML)', :class => 'input-group-text'
            = f.text_area :body, :class => 'form-control mt-2'
          - else
            .input-group-prepend
              .infomarker{:data => {:marker => 'body_box'}}
              = f.label :body, 'Agreement text body (HTML)', :class => 'input-group-text'
            = f.text_area :body, :readonly => 'readonly', :class => 'form-control mt-2'
            .infobox#body_box
              %h4= 'Agreement with contacts'
              %p
                This
                %em agreement
                has been agreed by 
                = @agreement.contacts.size.to_s
                %em contacts.
                As you do not want to change the wording of the the exact agreement that the conatacts have accepted you cannot edit or delete this agreement unless the contacts are deleted.
        .row
          .col-md-10
            = labeled_checkbox(f, :display, 'Display on contact form')
            = labeled_checkbox(f, :ticked_by_default, 'Ticked by default on contact form')
            = labeled_checkbox(f, :add_to_subscribers, 'When ticked/agreed contact should be added to the Subscribers')
          .col-md-2
            .input-group
              = labeled_selectbox(f, :locale, options_for_select(I18n.available_locales.collect{|l| [l, l]}, @agreement.locale))
  .row
    .col-md-12
      .tile
        .tile-body
          = f.submit 'Submit', :class => 'btn btn-danger btn-block'
