-# T0DO: The following css will not work as we currently load the iframe from
-# a different domain
- content_for :header_css do
  :plain
    .cke_wysiwyg_frame, .cke_editable{background-color: #{@sidebar.bg_color};}
    .span_1_of_3 input{width: 100%;}
    
- content_for :ujs do
  <script src="//cdn.ckeditor.com/4.5.4/standard/ckeditor.js"></script>
  :javascript
    $(document).ready(function() {
      CKEDITOR.replace('sidebar_body', {format_tags: 'p;h2;h3;h4;h5;h6;pre;address;div'});
      $("#sidebar_bg").on('change', semiStaticPrepareUploadFromInput);
    });

= form_for @sidebar do |f|
  - if @sidebar.errors.any?
    #error_explanation
      %h2= "#{pluralize(@sidebar.errors.count, "error")} prohibited this sidebar from being saved:"
      %ul
        - @sidebar.errors.full_messages.each do |msg|
          %li= msg
  .group
    .col.span_1_of_3
      %fieldset
        = f.label :title
        %br/
        = f.text_field :title
      %fieldset
        = f.label :bg_color, 'background color: yellow, #5f78c0, etc'
        = f.text_field :bg_color
        = f.label :color, 'CSS colors: black, yellow, #5f78c0, etc'
        = f.text_field :color
        %br/
        = f.label :style_class
        %br/
        = f.select :style_class, options_for_select(SemiStatic::EntriesHelper::STYLE_CLASSES.collect{|sc| [sc, sc]}, @sidebar.style_class)

    .col.span_1_of_3
      %fieldset
        = f.label :bg, 'Background image'
        .sidebar-bg
          - if @sidebar.bg.present?
            = image_tag(@sidebar.bg.url(:bar), :title => @sidebar.title, :class => 'ri', :id => 'semi_static_image_for_upload')
          - else
            = image_tag('/assets/no-image-loaded.jpg', :title => 'No image', :class => 'ri', :id => 'semi_static_image_for_upload')
        = f.file_field :bg

    .col.span_1_of_3
      = f.label :body
      %br/
      = f.text_area :body

  .mid.actions
    = f.submit 'Save'
