-# T0DO: The following css will not work as we currently load the iframe from
-# a different domain
- content_for :header_css do
  :plain
    .cke_wysiwyg_frame, .cke_editable{background-color: #{@sidebar.bg_color};}
    .span_1_of_3 input{width: 100%;}
    
- content_for :ujs do
  <script src="//cdn.ckeditor.com/4.5.4/standard/ckeditor.js"></script>
  :javascript
    $(document).ready(function() {
      CKEDITOR.replace('sidebar_body', {allowedContent: true, format_tags: 'p;h2;h3;h4;h5;h6;pre;address;div'});
      $("#sidebar_bg").on('change', semiStaticPrepareUploadFromInput);
    });

.tile
  .tile-body
    = form_for @sidebar do |f|
      - if @sidebar.errors.any?
        #error_explanation
          %h2= "#{pluralize(@sidebar.errors.count, "error")} prohibited this sidebar from being saved:"
          %ul
            - @sidebar.errors.full_messages.each do |msg|
              %li= msg
      .row
        .col-md-4
          .form-group
            = f.label :title
            = f.text_field :title, :class => 'form-control'
          .form-group
            = f.label :bg_color, 'background color: yellow, #5f78c0, etc'
            = f.text_field :bg_color, :class => 'form-control'
            = f.label :color, 'CSS colors: black, yellow, #5f78c0, etc'
            = f.text_field :color, :class => 'form-control'
            = f.label :style_class
            = f.select :style_class, options_for_select(SemiStatic::EntriesHelper::STYLE_CLASSES.collect{|sc| [sc, sc]}, @sidebar.style_class), :class => 'form-control'
    
        .col-md-4
          .form-group
            = f.label :partial, 'Custom view'
            = f.select :partial, options_for_select(SemiStatic::Engine.config.open_partials.collect{|k, v| [k, k]}.prepend(["- None -", 'none']), @sidebar.partial), :class => 'form-control'
          .form-group
            = f.label :bg, 'Background image'
            .sidebar-bg
              - if @sidebar.bg.present?
                = image_tag(@sidebar.bg.url(:bar), :title => @sidebar.title, :class => 'ri', :id => 'semi_static_image_for_upload')
              - else
                = image_tag('/assets/no-image-loaded.jpg', :title => 'No image', :class => 'ri', :id => 'semi_static_image_for_upload')
            = f.file_field :bg, :class => 'form-control'
    
        .col-md-4
          .form-group
            = f.label :body
            = f.text_area :body, :class => 'form-control'
    
      .actions
        = f.submit 'Save', :class => 'btn btn-danger btn-block'
