- content_for :ujs do
  :javascript
    $(document).ready(function() {
      $('#' + window.location.hash.substring(1)).children().addClass('flash');
    });

.mid.full
  .button= link_to 'New Sidebar', new_sidebar_path
  %h1 Sidebars

  %table
    %thead
      %tr
        %th= 'Title'
        %th= 'ID'
        %th= 'Entries'
        %th= image_tag('calendar.png', :title => 'Last Update')
        %th= image_tag('bin.png', :title => 'Delete')

    %tbody
      - @sidebars.each do |s|
        %tr{:id => "sidebar_id_#{s.id}"}
          %td= link_to (s.title.blank? ? "##{s.id.to_s}" : s.title), edit_sidebar_path(s)
          %td.number= link_to s.id.to_s, edit_sidebar_path(s)
          %td.number= s.entries.count.to_s
          %td.number{:title => s.updated_at.strftime('%H:%M')}= s.updated_at.strftime('%d/%b/%y')
          %td.image= link_to image_tag('bin.png'), s, :method => :delete, :data => { :confirm => 'Are you sure?' }

