= form_for([@entry, @product]) do |f|
  - if @product.errors.any?
    #error_explanation
      %h2= pluralize(@product.errors.count, "error") + ' prohibited this product from being saved:'

      %ul
        - @product.errors.full_messages.each do |msg|
          %li= msg
  .group
    .col.span_2_of_3
      %fieldset
        = f.label :name
        %br/
        = f.text_field :name
      %fieldset
        = f.label :description
        %br/
        = f.text_area :description, :rows => 8
      -# Inventory level has been removed from schema.org 
      -# %fieldset
      -#   = f.label :inventory_level
      -#   %br/
      -#   = f.text_field :inventory_level
      %fieldset
        = f.label :entry_id, 'Entry'
        %br
        = f.select :entry_id, options_for_select(SemiStatic::Entry.all.collect{|e| [e.explicit_title(true), e.id]}.prepend(['- None -', nil]), @product.entry_id)
    .col.span_1_of_3
      %fieldset
        = f.label :currency
        %br/
        = f.text_field :currency
      %fieldset
        = f.label :price
        %br/
        = f.text_field :price
      %fieldset
        = f.label :color
        %br/
        = f.text_field :color
      %fieldset
        = f.label :height
        %br/
        = f.text_field :height
      %fieldset
        = f.label :depth
        %br/
        = f.text_field :depth
      %fieldset
        = f.label :width
        %br/
        = f.text_field :width
      %fieldset
        = f.label :weight
        %br/
        = f.text_field :weight
  .actions
    = f.submit
