.app-title
  %h1
    %i.fa.fa-product.invert
    Products
  .text-right
    = link_to new_product_path(:return => products_path(@entry)), :class => 'btn btn-primary', :remote => true do
      %span.app-menu__icon.fa.fa-product
      %span New Product


.tile
  .tile-body
    .table-responsive
      %table.table.sortable.table-bordered.table-hover
        %tr
          %th{:title => 'Product ID'}
          %th Entry
          %th Name
          %th{:title => "Orderable"} O
          %th
      
        - @products.each do |p|
          %tr
            %td= p.id
            %td
              - if p.entry
                = link_to p.entry.title, edit_entry_path(p.entry)
            %td= link_to (p.name.blank? ? '<No Name>' : p.name), edit_product_path(p)
            %td
              = '✓' if p.orderable
            %td.tick{:title => "Click to delete #{p.name || 'product'}"}
              = link_to product_path(p), method: :delete, data: { confirm: 'Are you sure?' } do
                %i.app-menu__icon.fa.fa-delete

