-# TODO - Refactor the CSS and remove extra divs
.tiles
  - SemiStatic::Entry.home.locale(I18n.locale).each_slice(4) do |e4|
    .wrap_x_4
      - e4.each_slice(2) do |e2|
        .wrap_x_2
          - e2.each do |e|
            .wrap_x_1.col.span_1_of_4
              .single{:class => e.style_class, :style => "background-color:#{e.background_colour}; color: #{e.colour}"}
                .entry.panel{:style => "background-color:#{e.background_colour}; color: #{e.colour}"}
                  .entry{:style => "background-color: #{e.background_colour}"}
                    .col.span_1_of_2.floater
                      .img
                        = link_to image_tag(e.img_url_for_theme(:home), :class => 'semi-static-loading'), entry_path(e)
                    .col.span_1_of_2.wrapping
                      .html
                        %h1{:style => "color: #{e.header_colour}"}= link_to e.title, e, :class => 'semi-static-loading'
