= form_for @event do |f|
  .group
    .col.span_2_of_3
      - if @event.errors.any?
        #error_explanation
          %h2= "#{pluralize(@event.errors.count, "error")} prohibited this event from being saved:"
          %ul
            - @event.errors.full_messages.each do |msg|
              %li= msg
  .row
    .col-md-8
      .tile
        .tile-title
          %h5
            %span.app-menu__icon.fa.fa-event.invert
            %span Main Content
          = labeled_textfield(f, :name)
          .input-group
            .input-group-prepend
              = f.label :description, :class => 'input-group-text'
            = f.text_area :description, :rows => 6, :class => 'form-control mt-2'
          .row
            .col-md-6
              = labeled_textfield(f, :offer_price_currency, 'Currency Symbol')
            .col-md-6
              = labeled_textfield(f, :offer_price, 'Price')
          .row
            .col-md-6
              = labeled_textfield(f, :offer_min_price, 'Price range (min)')
            .col-md-6
              = labeled_textfield(f, :offer_max_price, 'Price range (max)')
          .mt-4
            %h5 Registration options
            = labeled_checkbox(f, :registration, 'Enable Registration')
            #registration_fields
              = labeled_textfield(f, :registration_text, 'Text summary for event registration')
              = labeled_textfield(f, :registration_url, 'Optional url to direct to for registration')
    
    .col-md-4
      .tile
        .tile-title
          .sidebar
            %h5 Options
            = labeled_textfield(f, :online_url, 'Online URL (Optional)')
            = labeled_textfield(f, :location, 'Location name')
            = labeled_textfield(f, :location_address, 'Address')
            .input-group{:title => 'Time that doors to event open'}
              .input-group-prepend
                = f.label :door_time, :class => 'input-group-text'
              .form-control.mt-2
                = f.datetime_select :door_time, {:start_year => Time.now.year, :include_blank => true, :default => nil}
            .input-group{:title => 'Start date and time'}
              .input-group-prepend
                = f.label :start_date, 'Start time', :class => 'input-group-text'
              .form-control.mt-2
                = f.datetime_select :start_date, {:start_year => Time.now.year, :include_blank => true, :default => nil}
            .input-group{:title => 'End date and time'}
              .input-group-prepend
                = f.label :end_date, :class => 'input-group-text'
              .form-control.mt-2
                = f.datetime_select :end_date, {:start_year => Time.now.year, :include_blank => true, :default => nil}
            = labeled_textfield(f, :duration, 'Duration in minutes')
            .input-group{:title => 'Language in BCP 47 format, eg. en, de, it ...'}
              .input-group-prepend
                = f.label :in_language, 'language', :class => 'input-group-text'
              = f.text_field :in_language, :class => 'form-control mt-2'
            .input-group{:title => 'Typical Age Range (eg. 18-30)'}
              .input-group-prepend
                = f.label :typical_age_range, :class => 'input-group-text'
              = f.text_field :typical_age_range, :class => 'form-control mt-2'
  .row
    .col-md-12
      .tile
        .tile-body
          = f.submit 'Save', :class => 'btn btn-danger btn-block'
