- content_for :ujs do
  :javascript
    $(document).ready(function() {
      $('#fcol_content').jqte();
    });


.tile
  .tile-body
    = form_for @fcol do |f|
      - if @fcol.errors.any?
        #error_explanation
          %h2= "#{pluralize(@fcol.errors.count, "error")} prohibited this fcol from being saved:"
          %ul
            - @fcol.errors.full_messages.each do |msg|
              %li= msg
    
      .form-group
        = labeled_textfield f, :name
    
      .form-group
        = f.label :content, 'Content for column (optional)'
        = f.text_area :content, :rows => 4, :class => 'form-control'
    
      .row
        .col-md-6
          = labeled_textfield f, :position
    
        .col-md-6
          = labeled_selectbox f, :locale, options_for_select(I18n.available_locales.collect{|l| [l, l]}, @fcol.locale)
    
      .row
        .col-md-12.mt-3
          = f.submit 'Save', :class => 'btn btn-danger btn-block'
