.mid
  .button= link_to 'New Footer Column', new_fcol_path
  %h1 Footer
  
  %table
    %tr
      %th
      %th{:colspan => 2}= 'Pos.'
      %th{:colspan => 2}= 'Name'
      %th
      %th
      %th
  
    - @fcols.each do |fcol|
      %tr.top
        %td.fcol= fcol.locale.to_s
        %td.fcol= fcol.position
        %td.fcol= '-'
        %td.fcol{:colspan => 2}= link_to (fcol.name.blank? ? '<no name>' : fcol.name), edit_fcol_path(fcol)
        %td.fcol= link_to image_tag('/assets/bin.png'), fcol, :method => :delete, :data => { :confirm => 'Are you sure?' }
        %td.fcol
          .button= link_to 'Add link', new_fcol_link_path(fcol)
      - unless fcol.content.blank?
        %tr
          %td.blank{:colspan => 2}
          %td.content{:colspan => 6}
            = fcol.content.html_safe
      - fcol.links.each do |l|
        %tr
          %td
          %td
          %td= l.position
          %td= link_to l.name, edit_fcol_link_path(fcol, l)
          %td= l.url
          %td= link_to image_tag('/assets/bin.png'), fcol_link_path(fcol, l), :method => :delete, :data => { :confirm => 'Are you sure?' }
            
  
