-# In this theme we use the banner as a background image. For widths over
-# 1400px we use backgroung size cover with the 1400px wide banner. 
- obj ||= @entry || @tag
- unless obj.nil? || obj.banner.blank?
  - bg3200 = obj.banner.img.url(:backgroundx2)
  - bg1400 = obj.banner.img.url(:background)
  - bg1000 = obj.banner.img.url(:parallax)
  - bg820 = obj.banner.img.url(:tabletBg)
  - bg580 = obj.banner.img.url(:mobileBg)
  - content_for :header_css do
    :plain
      body{background-image:url(#{bg1400});}
      @media only screen and (min-width:1400px) and (device-pixel-ratio: 2), (-moz-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dppx){
        body{background-image:url(#{bg3200}); background-size: cover; background-position: center center;}
      }
      @media only screen and (max-width:1000px) {
        body{background-image:url(#{bg1000}); background-size: cover;}
      }
      @media only screen and (max-width:820px) {
        body{background-image:url(#{bg820}); background-size: cover;}
      }
      @media only screen and (max-width:580px) {
        body{background-image:url(#{bg580}); background-size: cover;}
      }
      @media only screen and (max-width:410px) and (device-pixel-ratio: 2),
        (max-width:410px) and (-moz-device-pixel-ratio: 2),
        (max-width:410px) and(-webkit-min-device-pixel-ratio: 2),
        (max-width:410px) and (min-resolution: 192dppx){
        body{background-image:url(#{bg820}); background-size: cover;}
      }

