.app-title
  %h1
    %i.fa.fa-user.invert
    %span= @contact.fullname.blank? ? 'unknown' : @contact.fullname
  .text-right
    = link_to semi_static.contact_path(@contact), :title => 'Delete', :method => :delete, :data => { :confirm => "Confirm deleting #{@contact.fullname}"}, :class => 'btn btn-danger loading' do
      %span.app-menu__icon.fa.fa-user
      %span Delete

.tile
  .tile-body
    .table-responsive
      %table.table.table-bordered.table-hover
        %thead
          %tr
            %th Name
            %td= @contact.name
            %th Surname
            %td= @contact.surname
          %tr
            %th Email
            %td= mail_to @contact.email, @contact.email
            %th Telephone
            %td= @contact.telephone
          %tr
            %th Company
            %td= @contact.company.to_s
            %th Title
            %td= @contact.title.to_s
          %tr
            %th Employee Count
            %td= @contact.employee_count.to_s
            %th Date
            %td= @contact.created_at.strftime('%d-%m-%y')
          %tr
            %th Position
            %td= @contact.position.to_s
            %th Reason
            %td= @contact.reason.to_s
          %tr
            %th Message
            %td{:colspan => 3}= simple_format(@contact.message)
