= form_for @newsletter do |f|
  - if @newsletter.errors.any?
    #error_explanation
      %h2= "#{pluralize(@newsletter.errors.count, "error")} prohibited this newsletter from being saved:"
      %ul
        - @newsletter.errors.full_messages.each do |msg|
          %li= msg

  %style{:type => 'text/css'}
    = @newsletter.css
  #newsletter-wrapper
    %table.newsletter
      - if (b = SemiStatic::Banner.find_by_name(@newsletter.subtitle))
        %tr{:style => "border-bottom: 1px solid #a0a0a0;"}
          %td{:colspan => 2, :style => 'text-align: center;'}
            = image_tag(b.img(:original))
            %h3= [@newsletter.name, @newsletter.subtitle].join(' ')
      - else
        %tr{:style => "border-bottom: 1px solid #a0a0a0;"}
          %td
            #newsletter-logo= image_tag(SemiStatic::Engine.config.has?('newsletter_logo') || SemiStatic::Engine.config.has?('logo_image'))
          %td
            %h1= @newsletter.name
            %h2= @newsletter.subtitle
      - unless @newsletter.salutation_post_text.blank?
        %tr
          %td{:colspan => 2}
            %p
              = @newsletter.salutation_pre_text unless @newsletter.salutation_pre_text.blank?
              = salutation_name(@newsletter) + ','
            = simple_format(@newsletter.salutation_post_text) unless @newsletter.salutation_post_text.blank?
  
      - @newsletter.draft_entry_objects.each_slice(2) do |row| 
        - if @newsletter.draft_entry_ids[row.first.id][:layout].nil? || @newsletter.draft_entry_ids[row.first.id][:layout] == SemiStatic::Newsletter::ENTRY_LAYOUTS[:double]
          = render :partial => 'double', :locals => {:row => row}
        - else
          - row.each do |e|
            = render :partial => SemiStatic::Newsletter::ENTRY_LAYOUT_CODES[@newsletter.draft_entry_ids[row.first.id][:layout]].to_s, :locals => {:e => e}
    %table.newsletter{:style => 'width: 100%; border-top: 1px solid #c8c8c8; margin-top: 8px; background-color: #f8f8f8'}
      %tr.newsletter-footer
        %td
          &copy;
          = SemiStatic::Engine.config.copyright_year
          = SemiStatic::Engine.config.copyright_owner
        %td
          = link_to t('Unsubscribe'), edit_subscriber_url(0, :token => 'XXXXXXXXX', :only_path => false)
      
  .mid
    .actions
      = f.submit 'Update'
      = f.submit 'Save and send draft newsletter', :name => 'email_draft'
      = f.submit 'Prepare to publish', :name => 'prepare'
