= form_for @newsletter do |f|
  - if @newsletter.errors.any?
    #error_explanation
      %h2= "#{pluralize(@newsletter.errors.count, "error")} prohibited this newsletter from being saved:"
      %ul
        - @newsletter.errors.full_messages.each do |msg|
          %li= msg

  %style{:type => 'text/css'}
    = @newsletter.css
  #newsletter-wrapper
    %table.newsletter
      %tr
        %td{:colspan => 2}
          #newsletter-logo= image_tag(SemiStatic::Engine.config.logo_image)
      %tr#newsletter-header
        %td{:colspan => 2}
          = link_to edit_newsletter_path(@newsletter, :header => true), :remote => true do
            %h1= @newsletter.name
            %h2= @newsletter.subtitle
          - unless @newsletter.new_record?
            %fieldset.action.prepend
              %label= 'Insert entry'
              = select_tag 'prepend', options_for_select(SemiStatic::Entry.unmerged.collect{|e| [e.explicit_title(true), e.id]}.prepend(['- None -', nil])), :name => 'entry[prepend]'
        
      - if @newsletter.salutation
        %tr
          %td{:colspan => 2}
            %p
              = @newsletter.salutation_pre_text
              = salutation_name(@newsletter) + ','
            = simple_format(@newsletter.salutation_post_text) unless @newsletter.salutation_post_text.blank?
  
      - @newsletter.draft_entry_ids.each do |id| 
        - e = SemiStatic::Entry.find_by_id(id)
        - next if e.nil?
        %tr
          %td{:colspan => 2}
            = render :partial => 'semi_static/entries/entry', :locals => {:e => e}
            %fieldset.action.append
              %label= 'Insert entry'
              = select_tag 'append', options_for_select(SemiStatic::Entry.unmerged.collect{|e| [e.title, e.id]}.prepend(['- None -', nil])), :name => "entry[append][#{e.id.to_s}]"
    %table.newsletter{:style => 'width: 100%; border-top: 1px solid #c8c8c8; margin-top: 8px; background-color: #f8f8f8'}
      %tr.newsletter-footer
        %td
          &copy;
          = SemiStatic::Engine.config.copyright_year
          = SemiStatic::Engine.config.copyright_owner
        %td
          = link_to t('Unsubscribe'), 'http://business-landing.com/'
      
    .mid
      .actions
        = f.submit 'Update'
        = f.submit 'Save and send draft newsletter', :name => 'email_draft'
        = f.submit 'Prepare to publish', :name => 'prepare'
