= form_for @newsletter do |f|
  - if @newsletter.errors.any?
    #error_explanation
      %h2= "#{pluralize(@newsletter.errors.count, "error")} prohibited this newsletter from being saved:"
      %ul
        - @newsletter.errors.full_messages.each do |msg|
          %li= msg

  .newsletter
    = image_tag(SemiStatic::Engine.config.logo_image, :class => 'logo')
    = f.text_field :name
    = f.text_area :subtitle

    .clear
    - unless @newsletter.new_record?
      %fieldset.action.prepend
        %label= 'Insert entry'
        = select_tag 'prepend', options_for_select(SemiStatic::Entry.all.collect{|e| [e.title, e.id]}.prepend(['- None -', nil])), :name => 'entry[prepend]'

      - @newsletter.draft_entry_ids.each do |id| 
        - e = SemiStatic::Entry.find_by_id(id)
        - next if e.nil?
        .panel.entry.flat
          = render :partial => 'semi_static/entries/entry', :locals => {:e => e}
          %fieldset.action.append
            %label= 'Insert entry'
            = select_tag 'append', options_for_select(SemiStatic::Entry.all.collect{|e| [e.title, e.id]}.prepend(['- None -', nil])), :name => "entry[append][#{e.id.to_s}]"
    %table
      %tr
        %td
          &copy;
          = SemiStatic::Engine.config.copyright_year
          = SemiStatic::Engine.config.copyright_owner
        %td
          = link_to t('Unsubscribe'), 'http://business-landing.com/'
    
  .mid
    .actions
      = f.submit 'Save'
      = f.submit 'Save and send draft newsletter', :name => 'email_draft'
      = f.submit 'Prepare to publish', :name => 'prepare'
