.button= link_to_function 'Cancel', "$('#dialog').hide();"
%h1= 'Editing header for ' + @newsletter.name

= form_for(@newsletter) do |f|
  - if @newsletter.errors.any?
    #error_explanation
      %h2= "#{pluralize(@newsletter.errors.count, "error")} prohibited this Newsletter Salutation from being saved:"
      %ul
        - @newsletter.errors.full_messages.each do |msg|
          %li= msg

  .group
    .col.span_1_of_1
      %fieldset
        = f.label :name
        %br/
        = f.text_field :name
        %br/
        %br/
      %fieldset
        = f.label :subject, :title => 'This is the subject of the actual email'
        %br/
        = f.text_field :subject
        %br/
        %br/
      %fieldset
        = f.label :website_url
        %br/
        = f.text_field :website_url
        %br/
        %br/
      %fieldset
        = f.label :title
        %br/
        = f.text_field :title
        %br/
        = f.label :subtitle
        %br/
        = f.text_field :subtitle
        %br/
        %br/
      %fieldset
        = f.label :banner
        = f.select :banner_id, options_for_select(SemiStatic::Banner.all.collect{|b| [b.name, b.id]}.prepend(["- None -", 'none']), @newsletter.banner_id)

  .actions
    = f.submit 'Save'
