%tr
  %td{:colspan => '2'}
    %h2= 'Currently not supported, please select another layout'
    = render :partial => 'controls', :locals => {:e => e}
    = link_to semi_static.edit_entry_path(e) do
      .img{:id => "entry_id_#{e.id}"}
        = render :partial => 'image', :locals => {:e => e}

