.button= link_to_function 'Cancel', "$('#dialog').hide();"
%h1= 'Set the maximum numner of inline image attachments to use in this newsletter ' + @newsletter.name

= form_for(@newsletter, :remote => true) do |f|
  - if @newsletter.errors.any?
    #error_explanation
      %h2= "#{pluralize(@newsletter.errors.count, "error")} prohibited this Newsletter Salutation from being saved:"
      %ul
        - @newsletter.errors.full_messages.each do |msg|
          %li= msg

  .group
    .col.span_1_of_1
      %fieldset
        = f.label :max_image_attachments
        %br/
        = f.text_field :max_image_attachments
        %br/
        %br/
  .actions
    = f.submit 'Save'
