.modal-header
  %h5= 'Upload a new image for this newsletter entry'
  = modal_close
.modal-body
  = form_for(@entry) do |f|
    = hidden_field_tag :redirect_to, edit_newsletter_path(@newsletter, :newsletter_img_updated => @entry.id.to_s, :anchor => "entry_id_#{@entry.id}")
    .form-group
      = f.label :newsletter_img, 'Image for newsletter (optional)'
      = f.file_field :newsletter_img, :class => 'form-control'
    = f.submit 'Upload', :class => 'btn btn-danger btn-block'
