.button= link_to 'Cancel', '#', :onclick => "$('#dialog').hide(); return false;"
%h1= 'Editing salutation for ' + @newsletter.name

= form_for(@newsletter) do |f|
  - if @newsletter.errors.any?
    #error_explanation
      %h2= "#{pluralize(@newsletter.errors.count, "error")} prohibited this Newsletter Salutation from being saved:"
      %ul
        - @newsletter.errors.full_messages.each do |msg|
          %li= msg

  .group
    .col.span_1_of_1
      %fieldset
        = f.label :salutation, 'Include salutation in newsletter'
        %br/
        = f.check_box :salutation
        %br/
        %br/
      %fieldset
        = f.label :salutation_pre_text, 'Pre salutation text, e.g. \'Dear\' (optional)'
        %br/
        = f.text_field :salutation_pre_text
        %br/
        %br/
      %fieldset
        = f.label :salutation_type
        %br/
        = f.select :salutation_type, options_for_select(SemiStatic::Newsletter::SALUTATION_TYPES.collect{|k, v| [k, v]}, @newsletter.salutation_type)
        %br/
        %br/
      %fieldset
        = f.label :salutation_post_text, 'Introductory text (optional)'
        %br/
        = f.text_area :salutation_post_text, :rows => 8
  .actions
    = f.submit 'Save'
