.modal-header
  %h5= 'Editing salutation for ' + @newsletter.name
  = modal_close
.modal-body
  = form_for(@newsletter) do |f|
    - if @newsletter.errors.any?
      #error_explanation
        %h2= "#{pluralize(@newsletter.errors.count, "error")} prohibited this Newsletter Salutation from being saved:"
        %ul
          - @newsletter.errors.full_messages.each do |msg|
            %li= msg
  
    .form-group
      = f.label :salutation, 'Include salutation in newsletter'
      = f.check_box :salutation, :class => 'form-control'
    .form-group
      = f.label :salutation_pre_text, 'Pre salutation text, e.g. \'Dear\' (optional)'
      = f.text_field :salutation_pre_text, :class => 'form-control'
    .form-group
      = f.label :salutation_type
      = f.select :salutation_type, options_for_select(SemiStatic::Newsletter::SALUTATION_TYPES.collect{|k, v| [k, v]}, @newsletter.salutation_type), :class => 'form-control'
    .form-group
      = f.label :salutation_post_text, 'Introductory text (optional)'
      = f.text_area :salutation_post_text, :rows => 8, :class => 'form-control'
    .actions
      = f.submit 'Save', :class => 'btn btn-danger btn-block'
