.modal-header
  %h5= 'Please select a layout for this newsletter entry'
  = modal_close
.modal-body
  = form_for @newsletter do |f|
    = hidden_field_tag 'entry[id]', @entry.id
    = hidden_field_tag :set_layout, true
    .form-group
      %label= 'Layout:'
      = select_tag "entry[layout]", options_for_select(SemiStatic::Newsletter::ENTRY_LAYOUTS.collect{|k,v| [k.to_s, v]}, @newsletter.draft_entry_ids[@entry.id][:layout]), :class => 'form-control'
    = submit_tag 'Set', :class => 'btn btn-danger btn-block'
