.tile
  .tile-body
    %h2 Automatically Sending, please wait...
    = form_for @delivery, :remote => true do |f|
      = f.hidden_field :state, :value => SemiStatic::NewsletterDelivery::STATES[:sent].to_s
      = f.hidden_field :id, :value => @delivery.id.to_s
      - if @delivery.subscriber.nil?
        = "ERROR: @delivery.subscriber is nil, NewsletterDelivery id: #{@delivery.id}"
      - else
        %p
          = 'Name: ' + @delivery.subscriber.fullname.to_s
        %p
          = 'Email: ' + @delivery.subscriber.email.to_s
        .actions
          = f.submit 'Manual send'
