.modal-header
  %h5= 'Sender email for ' + @newsletter.name
  = modal_close
.modal-body
  = form_for(@newsletter) do |f|
    - if @newsletter.errors.any?
      #error_explanation
        %h2= "#{pluralize(@newsletter.errors.count, "error")} prohibited this Newsletter Salutation from being saved:"
        %ul
          - @newsletter.errors.full_messages.each do |msg|
            %li= msg
  
    .form-group
      = f.label :sender_address
      = f.text_field :sender_address, :class => 'form-control'
    .actions
      = f.submit 'Save', :class => 'btn btn-danger btn-block'
