.mid.wide
  .button= link_to 'New newsletter', new_newsletter_path
  %h1 Newsletters

  %table
    %tr
      %th Name
      %th State
      %th Entries
      %th

    - @newsletters.each do |n|
      %tr
        %td
          - if SemiStatic::Newsletter::STATE_CODES[n.state] != :published
            = link_to n.name, edit_newsletter_path(n)
          -  else
            = n.name
        %td= SemiStatic::Newsletter::STATE_CODES[n.state].to_s.humanize
        %td
          %ul
            - n.draft_entry_objects.each_with_index do |e, i|
              %li= link_to (i.to_s + ' ' + e.title), edit_entry_path(e)
        %td= link_to image_tag('/assets/bin.png'), n, :method => :delete, :data => { :confirm => 'Are you sure?' }

