.mid
  %h1 Drafting new newsletter

  = form_for @newsletter do |f|
    - if @newsletter.errors.any?
      #error_explanation
        %h2= "#{pluralize(@newsletter.errors.count, "error")} prohibited this newsletter from being saved:"
        %ul
          - @newsletter.errors.full_messages.each do |msg|
            %li= msg

    %fieldset
      = f.label :name
      = f.text_field :name
      = f.label :subtitle
      = f.text_field :subtitle
    %fieldset
      = f.label :locale
      = f.select :locale, options_for_select(I18n.available_locales.collect{|l| [l, l]}, @newsletter.locale)


    .actions
      = f.submit 'Next'
