#menu-sub
  - SemiStatic::Tag.menu.locale(I18n.locale.to_s)[5..max_menu_tags].each_with_index do |t, i|
    -# %span{:id => ('selected' if ((@tag == t) || (@selection == t.predefined_class)))}
    .wrapper
      = link_to t.name, t.predefined_class.blank? ? semi_static.feature_path(t.slug) : "#{predefined_tags[t.predefined_class]}?tag_id=#{t.id}", :class => 'text '
#menu-wrapper
  #menu-filler
  %nav#menu
    #menu-close{:onclick => 'semiStaticCloseMenu()'}
      = t('Close')
      #close-sym
        &otimes;
    #menu-main.section.group
      - SemiStatic::Tag.menu.locale(I18n.locale.to_s)[0..4].each_with_index do |t, i|
        .col.span_1_of_5
          .wrapper{:id => ('selected' if ((@tag == t) || (@selection == t.predefined_class)))}
            = link_to t.name, t.predefined_class.blank? ? semi_static.feature_path(t.slug) : "#{predefined_tags[t.predefined_class]}?tag_id=#{t.id}", :class => 'text '
            - if SemiStatic::Tag.use_sprites?
              .icon.sprite{:id => "sprite_#{(i + 1).to_s}"}
            - else
              - if t.icon_in_menu && t.icon.present?
                - if t.icon_resize
                  .icon= image_tag(t.icon.url(:big))
                - else
                  .icon= image_tag(t.icon.url)
              - else
                .icon
                  .custom
