#slide-menu
  = render 'semi_static/shared/slide-menu'
#top
  #top-wrapper
    #bar.contain
      #bar-inner
        = render 'semi_static/shared/bar'
      #logo-wrapper
        = link_to semi_static.home_path do
          #logo
            = SemiStatic::Engine.config.try('logo_text') && SemiStatic::Engine.config.logo_text.html_safe
    = yield :pre_overlay
    #overlay
      #overlay-inner
        = render 'semi_static/shared/menu'
= yield :banner
= yield :pre_content
#frame
  #container
    #dialog{:style => 'display: none;'}
    #content
      =yield
  = yield :post_content
