#stripes-wrapper
  #stripes
    .one{:data =>  {'0' => "background-position: 50% 0px;", 'end' => "background-position: 50% -100px;", 'anchor-target' => "#top"}}
    .two{:data =>  {'0' => "background-position: 50% 50px;", 'end' => "background-position: 50% 100px;", 'anchor-target' => "#top"}}
    .three{:data =>  {'0' => "background-position: 50% 20px;", 'end' => "background-position: 50% -200px;", 'anchor-target' => "#top"}}
#top
  #menu-button{:onclick => 'semiStaticOpenMenu()'}
    = t('Menu')
  #top-wrapper
    #top-inner
      = link_to semi_static.home_path do
        #mini-logo
#overlay
  #overlay-inner
    = render 'semi_static/shared/menu'
- unless @tag.nil? || @tag.banner.nil?
  #banner
    .skrollr-holder{:data =>  {'0' => "margin-top: 0px", '500' => "margin-top: 200px;", 'anchor-target' => "#top"}}
      = image_tag(@tag.banner.img_url_for_theme(:desktop), :title => @tag.banner.name)
    #tag-wrapper
      #tagline
        %h1= @tag.banner.tag_line
-# #head
-#   #desc-wrapper
-#     #desc
-#       %h4=t('SiteDesc')
