#top
  #menu-button{:onclick => 'semiStaticOpenMenu()'}
    = t('Menu')
    .menu-line
    .menu-line
    .menu-line
  #top-inner
    = link_to semi_static.home_path do
      #logo-wrapper
        #mini-logo
    = render :partial => 'semi_static/shared/bar'
    #menu-wrapper
      %nav#menu
        #menu-loading-wrapper
          #menu-loading
        #menu-close{:onclick => 'semiStaticCloseMenu()'}
          = t('Close')
        #menu-main.section.group
          - SemiStatic::Tag.menu.locale(I18n.locale.to_s).each_with_index do |t, i|
            .wrapper{:id => ('selected' if ((@tag == t) || (@selection == t.predefined_class)))}
              = link_to t.name, t.predefined_class.blank? ? semi_static.feature_path(t.slug) : "#{predefined_tags[t.predefined_class]}?tag_id=#{t.id}", :class => 'text ', :onclick => 'semiStaticLoading()'
        #bar-in-menu
          = render :partial => 'semi_static/shared/bar'

