- klass = @entry || @tag || SemiStatic::Tag.predefined(I18n.locale.to_s, 'Home').first
.news
  %h2= klass.side_bar_tag.nil? ? t('News') : klass.side_bar_tag.name
  - klass.get_side_bar_entries.each do |e|
    - next if e == @entry && !e.use_as_news_summary
    .panel
      - if e.summary_length >= 0
        %h3= link_to e.title, semi_static.entry_path(e)
      - else
        %h3= e.title
      - if e.news_img.present?
        .image= link_to image_tag(e.news_img.url(:bar)), semi_static.entry_path(e)
      - elsif e.image_in_news && e.img.present?
        .image= link_to image_tag(e.img.url(:bar)), semi_static.entry_path(e)
      - if e.summary_length > 0
        = entry_summary(e, e.summary_length, true)
        .more= link_to t('more'), semi_static.entry_path(e)
