- content_object = @entry || @tag || SemiStatic::Tag.predefined(I18n.locale.to_s, 'Home').first
.news
  - unless content_object.nil?
    - title = content_object.side_bar_tag.nil? ? t('News') : content_object.side_bar_tag.sidebar_title
    - if news_tag = SemiStatic::Tag.predefined(I18n.locale.to_s, 'News').first
      = link_to feature_path(news_tag.slug) do
        %h2= title
    - else
      %h2= title

    - news_entries_for_side_bar(content_object).each_with_index do |e, i|
      .panel
        - if e.summary_length >= 0
          %h3= link_to e.title, entry_link_path(e)
          - unless e.sub_title.blank?
            %h4= link_to e.sub_title, entry_link_path(e)
        - else
          %h3= e.title
          - unless e.sub_title.blank?
            %h4= e.sub_title
        - if e.news_img.present?
          .image= link_to image_tag(e.news_img.url(:bar)), entry_link_path(e)
        - elsif e.image_in_news && e.img.present?
          .image= link_to image_tag(e.img.url(:bar)), entry_link_path(e)
        - if e.summary_length > 0
          = entry_summary(e, e.summary_length, true)
          .more= link_to t('more'), entry_link_path(e)
