.news
  %h2= SemiStatic::Tag.use_as_plus_one_column.locale(locale).first.try('name') || t('News')
  - SemiStatic::Entry.get_news_or_plus_one_column(@entry, I18n.locale).each do |e|
    - next if e == @entry && !e.use_as_news_summary
    .panel
      - if e.summary_length >= 0
        %h3= link_to e.title, semi_static.entry_path(e)
      - else
        %h3= e.title
      - if e.news_img.present?
        .image= link_to image_tag(e.news_img.url(:bar)), semi_static.entry_path(e)
      - elsif e.image_in_news && e.img.present?
        .image= link_to image_tag(e.img.url(:bar)), semi_static.entry_path(e)
      - if e.summary_length > 0
        = entry_summary(e, e.summary_length, true)
        .more= link_to t('more'), semi_static.entry_path(e)
