- klass = @entry || @tag || SemiStatic::Tag.predefined(I18n.locale.to_s, 'Home').first
.news
  - unless klass.nil?
    - title = klass.side_bar_tag.nil? ? t('News') : klass.side_bar_tag.sidebar_title
    - if SemiStatic::Tag.predefined(I18n.locale.to_s, 'News').first
      = link_to news_path do
        %h2= title
    - else
      %h2= title
    - klass.get_side_bar_entries.each_with_index do |e, i|
      -# There are a lot of condition here where you don't display the summary
      -# in the side-bar. The most convaluted is when this is a tag and has
      -# only one entry (max_entries_on_index_page == 1) AND there is no
      -# specific summary text AND this is that first entry (i == 0).
      -# In this case we would just be repeating the same text in the
      -# side-bar, so suppress it:
      - next if @tag && @tag.max_entries_on_index_page == 1 && i == 0
      - next if (e == @entry && !e.use_as_news_summary) || e.summary_length.blank?
      .panel
        - if e.click_ad.present?
          = link_to e.click_ad.url do
            = semantic_entry_image(e, :bar)
        - else
          - if e.summary_length >= 0
            %h3= link_to e.title, semi_static.entry_path(e)
            %h4= link_to e.sub_title, semi_static.entry_path(e) unless e.sub_title.blank?
          - else
            %h3= e.title
            %h4= e.sub_title unless e.sub_title.blank?
          - if e.news_img.present?
            .image= link_to image_tag(e.news_img.url(:bar)), semi_static.entry_path(e)
          - elsif e.image_in_news && e.img.present?
            .image= link_to image_tag(e.img.url(:bar)), semi_static.entry_path(e)
          - if e.summary_length > 0
            = entry_summary(e, e.summary_length, true)
            .more= link_to t('more'), semi_static.entry_path(e)
