-#
-# This needs refactoring, but putting in a helper is not much nicer. Moving to
-# a CSS grid layout would probably help a lot.
-#

- if @tag.partial_before_entries?
  = render :partial => @tag.partial_path

- @link_to_tag && style_for_link_to_tag(@entry)

- if @tag.show_entries?
  .section
    - if @tag.side_bar
      .col.span_2_of_3.main-col
        - if @tag.partial_inline?
          = render :partial => @tag.partial_path
        - else
          = render 'semi_static/tags/main_col'
        - if @tag.paginate?
          = paginate @entries_for_pagination, views_prefix: 'semi_static'

      .col.span_1_of_3.side-bar
        = render 'semi_static/tags/side_bar'
    - else
      .col.span_3_of_3.main-col
        - if @tag.partial_inline?
          = render :partial => @tag.partial_path
        - else
          = render 'semi_static/tags/main_col', :style => :medium
        - if @tag.paginate?
          = paginate @entries_for_pagination, views_prefix: 'semi_static'


- if @tag.partial_after_entries?
  = render :partial => @tag.partial_path

- if @tag.get_page_attr('socialSharesEntryId')
  = social_shares(SemiStatic::Entry.find(@tag.get_page_attr('socialSharesEntryId')), @tag)

