- obj = @entry || @tag
- @tag ||= entrytag
- obj ||= entrytag

%aside
  = yield :side_bar_top
  - if side_bar_nav? && !obj.get_page_attr('disableSideBarNav')
    .panel.list
      %nav
        - if (menuHashAttr = obj.get_page_attr('sideBarMenuHash'))
          - menuHash = eval(menuHashAttr)
          %h2= menuHash.keys.first.to_s
          .section
            - menuHash.values.first.keys.each do |st|
              - unless st.blank?
                .semiStaticSubMenuHeader= st
              - menuHash.values.first[st].each do |e_id|
                - entry_from_hash = SemiStatic::Entry.find_by(:id => e_id)
                - next unless entry_from_hash
                %h3
                  = link_to entry_from_hash.title, entry_link(entry_from_hash)
        - else
          = basic_sub_menu(@sidebar_menu_tag, @tag, @entries_for_pagination)

  -# Exact same code used in site/home, refactor
  - if  obj.present? && obj.sidebar.present?
    - unless obj.sidebar.partial.blank? || obj.sidebar.partial == 'none' || SemiStatic::Engine.config.open_partials[obj.sidebar.partial].nil?
      = render :partial => SemiStatic::Engine.config.open_partials[obj.sidebar.partial]
    - else
      .sidebar{:style => sidebar_style(obj.sidebar), :class => obj.sidebar.style_class }
        - unless obj.sidebar.title.blank?
          %h2= obj.sidebar.title
        = obj.sidebar.body.html_safe
  - unless obj.nil?
    = render :partial => 'semi_static/site/search' if obj.side_bar_search
    - if obj.side_bar_social and !obj.get_page_attr('disableSideBarSocial')
      = render :partial => 'semi_static/site/social'
    = render :partial => 'semi_static/site/gallery' if obj.kind_of?(SemiStatic::Entry) && obj.side_bar_gallery
    = render :partial => 'semi_static/tags/news' if obj.side_bar_news || obj.side_bar_tag
