- content_for :ujs do
  :javascript
    $(document).ready(function() {
      $('#' + window.location.hash.substring(1)).children().addClass('flash');
    });

.mid.full
  .button= link_to 'New Tag', new_tag_path
  %h1 Tags
  - if SemiStatic::Tag.use_sprites?
    %h3= 'Notice: Postion 0 is set, so sprites are being employed'
   
  %table
    %thead
      %tr
        %th
        %th= 'Name'
        %th= 'Menu'
        - if SemiStatic::Engine.config.try('subscribers_model')
          %th.tick{:title => 'Subscriber content'}= image_tag('user.png', :title => 'Subscriber only content')
        %th= 'Locale'
        %th= 'Position'
        %th= 'Side bar'
        %th= 'Custom'
        %th= 'Banner'
        %th{:title => 'Admin only content'}= 'Admin'
        %th= 'SEO'
        %th{:title => 'NO INDEX'}= 'I'
        %th= 'Entries'
        %th= image_tag('calendar.png', :title => 'Last Update')
        %th
  
    %tbody
      - @tags.each do |tag|
        %tr{:id => "tag_id_#{tag.id}"}
          %td
            - if SemiStatic::Tag.use_sprites? && (tag.position < 6)
              .icon.sprite{:id => "sprite_#{tag.position}"}
            - elsif tag.icon.present?
              = image_tag(tag.icon.url)
          %td
            = link_to tag.name, edit_tag_path(tag)
          %td.tick
            = image_tag('tick.png', :title => 'In menu') if tag.menu
          - if SemiStatic::Engine.config.try('subscribers_model')
            %td.tick
              = image_tag('user.png', :title => 'Subscriber only content') if tag.subscriber
          %td.number= tag.locale.to_s
          %td.number
            = tag.position if tag.menu
          %td.tick
            = tag.side_bar_tag.name if !tag.side_bar_tag.nil? && !tag.side_bar_news
            = image_tag('tick.png', :title => 'Has side-bar') if tag.side_bar_news
          %td.tick
            - unless (tag.partial == 'none')
              = link_to image_tag('tick.png', :title => tag.partial), system_path(:cmd => {:partial_description => tag.partial}), :method => :put, :remote => true
          %td
            - if tag.predefined_class && SemiStatic::Banner.find_by_name(tag.predefined_class)
              = tag.predefined_class
            - else
              = tag.banner.name.truncate(10) unless tag.banner.nil?
          %td.tick
            - if tag.admin_only
              = image_tag('tick.png')
          %td.tick
            - if tag.seo.nil?
              = link_to image_tag('add.png', :title => "Add SEO meta tags"), new_tag_seo_path(tag, :return => tags_path), :remote => true
            - else
              = link_to image_tag('application_form_edit.png', :title => "Edit SEO meta tags"), edit_seo_path(tag.seo, :return => tags_path), :remote => true
          %td.tick
            - if tag.seo && tag.seo.no_index
              = image_tag('error.png', :title => 'Warning: NO INDEX is set')
          %td.number
            = link_to tag.entries.count.to_s + ' (' + tag.max_entries_on_index_page.to_s + ')', tag_entries_path(tag), :remote => true
          %td.number{:title => tag.updated_at.strftime('%H:%M')}= tag.updated_at.strftime('%d/%b/%y')
          %td= link_to image_tag('bin.png'), tag, :method => :delete, :data => { :confirm => 'Are you sure?' }
    
