.mid.full
  .button= link_to 'New Tag', new_tag_path
  %h1 Tags
  - if SemiStatic::Tag.use_sprites?
    %h3= 'Notice: Postion 0 is set, so sprites are being employed'
   
  %table
    %thead
      %tr
        %th
        %th= 'Name'
        %th= 'Menu'
        %th= 'Locale'
        %th= 'Position'
        %th= '+1'
        %th= 'Bar'
        %th= 'Banner'
        %th= 'SEO'
        %th= 'Entries'
        %th= image_tag('/assets/calendar.png', :title => 'Last Update')
        %th
  
    %tbody
      - @tags.each do |tag|
        %tr{:id => "tag_id_#{tag.id}"}
          %td
            - if SemiStatic::Tag.use_sprites? && (tag.position < 6)
              .icon.sprite{:id => "sprite_#{tag.position}"}
            - elsif tag.icon.present?
              = image_tag(tag.icon.url)
          %td
            = link_to tag.name, edit_tag_path(tag)
          %td.tick
            = image_tag('/assets/tick.png', :title => 'In menu') if tag.menu
          %td.number= tag.locale.to_s
          %td.number
            = tag.position if tag.menu
          %td.tick
            = image_tag('/assets/tick.png', :title => 'Has side-bar') if tag.use_as_plus_one_column
          %td.tick
            = image_tag('/assets/tick.png', :title => 'Has side-bar') if tag.side_bar
          %td
            - if tag.predefined_class && SemiStatic::Banner.find_by_name(tag.predefined_class)
              = tag.predefined_class
            - else
              = tag.banner.name unless tag.banner.nil?
          %td.tick
            - if tag.seo.nil?
              = link_to image_tag('/assets/add.png', :title => "Add SEO meta tags"), new_tag_seo_path(tag, :return => tags_path), :remote => true
            - else
              = link_to image_tag('/assets/application_form_edit.png', :title => "Edit SEO meta tags"), edit_seo_path(tag.seo, :return => tags_path), :remote => true
          %td.number
            = link_to tag.entries.count.to_s + ' (' + tag.max_entries_on_index_page.to_s + ')', tag_entries_path(tag), :remote => true
          %td.number= tag.updated_at.strftime('%d/%b/%y %H:%M')
          %td= link_to image_tag('/assets/bin.png'), tag, :method => :delete, :data => { :confirm => 'Are you sure?' }
    
