- if @tag.banner
  - content_for :banner do
    #overlay-2
      #tag-wrapper
        #tagline
          = @tag.banner.tag_line
    #banner
      #banner-frame
        .bg.desktop{:style => "background-image: url(#{@tag.banner.img.url(:desktop)})"}
        .bg.mobile{:style => "display: none; background-image: url(#{@tag.banner.img.url(:mobile)})"}


.section
  .col.span_2_of_3
    - @tag.entries[0..(@tag.max_entries_on_index_page - 1)].each do |e|
      .panel.group{:class => e.style_class, :style => "background-color:#{e.background_colour}; color:#{e.colour}"}
        = render :partial => 'semi_static/entries/entry', :locals => {:e => e, :summary => true}
  .col.span_1_of_3
    = render 'side_bar'
