.dashboard
  .button
  %h1 Comments
  %table
    %tr
      %th Entry
      %th Locale
      %th Name
      %th Email
      %th Company
      %th Date
      %th Comment
      %th
  
    - @comments.each do |c|
      %tr
        %td= link_to c.entry.title, edit_entry_path(c.entry)
        %td= c.entry.locale.to_s
        %td= link_to c.name, entry_comment_path(c.entry, c)
        %td= mail_to c.email, c.email
        %td= link_to c.company, entry_comment_path(c.company, c)
        %td= c.created_at.strftime('%d-%M-%y')
        %td= c.body.truncate(20)
        %td= link_to image_tag('/assets/bin.png'), entry_comment_path(c.entry, c), :method => :delete, :data => { :confirm => 'Are you sure?' }
