!!! 5
%html{ :xmlns => "http://www.w3.org/1999/xhtml", :lang => I18n.locale.to_s, "xml:lang" => I18n.locale.to_s}
  %head
    %meta{ :"http-equiv" => "Content-Type", :content => "text/html; charset=utf-8" }/
    %meta{ :name => "description", :content => "#{Rails.application.config.site_name}" }/
    %meta{ :name => "rating", :content => "General" }/
    %meta{:name => 'viewport', :content => 'width=device-width, initial-scale=1.0'}/
    %meta{:name => 'ROBOTS', :content => 'NOINDEX, NOFOLLOW'}/

    %title= Rails.application.config.site_name
    = csrf_meta_tags

    = render :partial => 'semi_static/shared/hosted_fonts'

    = stylesheet_link_tag 'semi_static_application', :media => 'all'
    = yield :ujs

    = favicon_link_tag SemiStatic::Engine.config.favicon_image

  %body
    #body-inner.devise
      = render :partial => 'semi_static/shared/application_body'
      = render :partial => 'semi_static/shared/footer'
