!!! 5
%html{ :xmlns => "http://www.w3.org/1999/xhtml", :lang => I18n.locale.to_s, "xml:lang" => I18n.locale.to_s}
  %head
    %title= seo_title
    %meta{ :"http-equiv" => "Content-Type", :content => "text/html; charset=utf-8" }/
    %meta{ :name => "description", :content => seo_description}/
    %meta{ :name => "keywords", :content => seo_keywords }/
    %meta{ :name => "rating", :content => "General" }/
    %meta{:name => 'viewport', :content => 'width=device-width, initial-scale=1.0'}/

    = csrf_meta_tags

    <link href='http://fonts.googleapis.com/css?family=Raleway' rel='stylesheet' type='text/css'>
    = stylesheet_link_tag 'semi_static_application', :media => 'all'
    %style{:type => "text/css"}
      = yield :header_css

    %script
      = ObjectSpace.each_object(Sprockets::Environment).first.find_asset('semi-static.js').source.html_safe

    = yield :ujs

    %link{:rel => 'shortcut icon', :href => '/assets/favicon.ico'}
  %body
    = render :partial => 'semi_static/shared/top'
    = yield :banner
    = render :partial => 'semi_static/shared/overlay'
    #container
      - unless flash.blank?
        #notice
          = flash[:alert]
          = flash[:error]
          = flash[:notice]
      #dialog{:style => 'display: none;'}
      #content
        =yield
    = render :partial => 'semi_static/shared/footer'
    = render :partial => SemiStatic::Engine.config.analytics_partial unless SemiStatic::Engine.config.analytics_partial.nil?
