!!! 5
%html{ :xmlns => "http://www.w3.org/1999/xhtml", :lang => I18n.locale.to_s, "xml:lang" => I18n.locale.to_s}
  %head
    %title= seo_title
    %meta{ :"http-equiv" => "Content-Type", :content => "text/html; charset=utf-8" }/
    %meta{ :name => "description", :content => seo_description }/
    - unless seo_keywords.blank?
      %meta{ :name => "keywords", :content => seo_keywords }/
    %meta{ :name => "rating", :content => "General" }/
    %meta{:name => 'viewport', :content => 'width=device-width, initial-scale=1.0'}/

    = csrf_meta_tags

    = render :partial => 'semi_static/shared/font'

    %style{:type => "text/css"}
      = ObjectSpace.each_object(Sprockets::Environment).first.find_asset('home.css.scss').source
      -# = Rails.application.assets.find_asset('semi_static/home.css').source
      = yield :header_css

    %script
      = ObjectSpace.each_object(Sprockets::Environment).first.find_asset('semi-static.js').source.html_safe
      - if (theme_js = ObjectSpace.each_object(Sprockets::Environment).first.find_asset('theme.js'))
        = theme_js.source.html_safe

    %link{:rel => 'shortcut icon', :href => '/assets/favicon.ico'}
  %body#semi-static-home-page
    -# The skrollr-body id is only used for the parallax theme
    #skrollr-body
    = render :partial => 'semi_static/shared/banner'
    #frame
      #container
        - unless flash.blank?
          #notice
            = flash[:alert]
            = flash[:error]
            = flash[:notice]
        #content
          =yield
    = render :partial => 'semi_static/shared/footer'
    = render :partial => SemiStatic::Engine.config.analytics_partial unless SemiStatic::Engine.config.analytics_partial.nil?
