-#
-# The home page layout. The differences to the standard page are:
-#   1) The CSS is loaded inline so that we get very fast load times
-#   2) The CSS is a smaller version ('see home.scss')
-#


!!! 5
%html{ :xmlns => "http://www.w3.org/1999/xhtml", :lang => I18n.locale.to_s, "xml:lang" => I18n.locale.to_s, :prefix => "og: http://ogp.me/ns#"}
  %head
    %title= seo_title
    %meta{:charset => "utf-8"}/
    - if seo_description
      %meta{:name => "description", :content => seo_description}/
    - unless seo_keywords.blank?
      %meta{ :name => "keywords", :content => seo_keywords }/
    %meta{ :name => "rating", :content => "General" }/
    %meta{:name => 'viewport', :content => 'width=device-width, initial-scale=1.0'}/

    -# Open Graph Meta Tags
    %meta{ :property => "og:title", :content => seo_title }/
    - if seo_description
      %meta{ :property => "og:description", :content => seo_description }/
    %meta{ :property => "og:url", :content => request.url }/
    %meta{ :property => "og:site_name", :content => SemiStatic::Engine.config.site_name }/
    %meta{ :property => "og:type", :content => 'website' }/
    %meta{ :property => "og:image", :content => og_image_url }/

    = favicon_link_tag SemiStatic::Engine.config.favicon_image

    = semi_static_csrf_meta_tags

    = semi_static_custom_meta_tags

    = hreflang_tags(true)

    %style
      = asset_source('font.css')

    -#
    -# For the home page we put the style inline so as to improve loading speeds. However,
    -# the scss processor thinks this is a css file and so inserts a "@charset ..." directive
    -# in the output from 'home.scss'. This directive cannot be inline and so we need to
    -# comment it out manually.
    -#
    -# Update: This "bug" seems to have been fixed now.
    -#
    %style
      -# = asset_source('home.css').sub(/^@charset.*/, '').html_safe
      = asset_source('home.css')
      = yield :header_css

    %script
      = asset_source('semi-static.js')
      = asset_source('theme.js')
      = asset_source('home_theme.js')

    = yield :ujs

    -#
    -# When using google analytics the async code must be in the head section
    -# in order that it can be validated for google webmaster tools
    -#
    = analytics

  %body#semi-static-home-page
    = yield :top
    #dialog{:style => 'display: none;'}
    #body-inner
      = render :partial => 'semi_static/shared/home_body'
      = render :partial => 'semi_static/shared/footer'
