-#
-# The standard (not home) page layout. The differences to the home page are:
-#   1) The CSS is not loaded inline
-#   2) The CSS is a larger version ('see semi_static_application.scss')
-#

!!! 5
%html{ :xmlns => "http://www.w3.org/1999/xhtml", :lang => I18n.locale.to_s, "xml:lang" => I18n.locale.to_s, :prefix => "og: http://ogp.me/ns#"}
  %head
    %title= seo_title
    %meta{:charset => "utf-8"}/
    - if seo_description
      %meta{ :name => "description", :content => seo_description}/
    - unless seo_keywords.blank?
      %meta{ :name => "keywords", :content => seo_keywords }/
    %meta{ :name => "rating", :content => "General" }/
    %meta{:name => 'viewport', :content => 'width=device-width, initial-scale=1.0'}/
    = seo_no_index?

    = @canonical && tag(:link, href: @canonical, rel: 'canonical')

    -# Open Graph Meta Tags
    %meta{ :property => "og:title", :content => seo_title }/
    - if seo_description
      %meta{ :property => "og:description", :content => seo_description }/
    %meta{ :property => "og:url", :content => request.url }/
    %meta{ :property => "og:site_name", :content => SemiStatic::Engine.config.site_name }/
    %meta{ :property => "og:type", :content => 'website' }/
    %meta{ :property => "og:image", :content => og_image_url }/

    = favicon_link_tag 'favicon.ico'

    = semi_static_csrf_meta_tags

    = hreflang_tags

    %style{:type => "text/css"}
      = asset_source('font.css')

    = stylesheet_link_tag 'semi_static_application', :media => 'all'

    %style{:type => "text/css"}
      = yield :header_css

    %script
      = asset_source('semi-static.js')
      = asset_source('theme.js')
    
    = yield :ujs

    = analytics

  %body{:id => "semi_static_#{controller_name.classify.downcase}", :class => @banner_class }
    #dialog{:style => 'display: none;'}
    #body-inner
      = render :partial => 'semi_static/shared/application_body'
      = render :partial => 'semi_static/shared/footer'
