= 'Comment posted on ' + SemiStatic::Engine.config.site_name

= h 'Name: ' + @comment.name

= h 'Email: ' +  @comment.email

= '-------------------- Comment -------------------'
= ' '
= h @comment.body
= ' '
= '------------------ Comment end -----------------'
= ' '
To view this comment please click on the link below:
= entry_url(@comment.entry, :anchor => "comment_id_#{@comment.id}")

= ' '
To delete this comment please click on the link below:

=entry_comment_url(@comment.entry, @comment)
= ' '

= '-------------------------------------------'


